.cookies-modal {
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  right: 0;
  word-break: break-word;
  border-radius: 0.5rem;
  background: var(--sl-color-neutral-50);

  &__copy {
    max-width: 960px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
  }

  &__buttons {
    display: flex;
  }

  @media (max-width: 800px) {
    &__inner {
      max-width: none;
      padding: 24px 32px;
    }
  }
}
