---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=AQ9Ri3kWa_4&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "qqdCPor5q0Xl5cO7zEDb5D3vDok",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "qVpfruw0PFIHnZspkJ6Kzn02OOw",
              "id": "AQ9Ri3kWa_4",
              "snippet": {
                "publishedAt": "2014-10-26T15:21:29Z",
                "channelId": "UCvnY4F-CJVgYdQuIv8sqp-A",
                "title": "Noelia Hurtado & Carlitos Espinoza in Amsterdam 2014 #1",
                "description": "24-26.10.2014 r., Amsterdam, Netherlands,\nPerformance 25th Oct, \"Salon de los Sabados\" in Academia de Tango",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/AQ9Ri3kWa_4/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/AQ9Ri3kWa_4/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/AQ9Ri3kWa_4/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  },
                  "standard": {
                    "url": "https://i.ytimg.com/vi/AQ9Ri3kWa_4/sddefault.jpg",
                    "width": 640,
                    "height": 480
                  },
                  "maxres": {
                    "url": "https://i.ytimg.com/vi/AQ9Ri3kWa_4/maxresdefault.jpg",
                    "width": 1280,
                    "height": 720
                  }
                },
                "channelTitle": "jkuklaVideo",
                "tags": [
                  "Amsterdam",
                  "Netherlands",
                  "tango",
                  "argentinian tango",
                  "milonga",
                  "noelia hurtado",
                  "carlitos espinoza",
                  "carlos espinoza",
                  "espinoza",
                  "hurtado",
                  "noelia",
                  "hurtado espinoza",
                  "Salon de los Sabados",
                  "Academia de Tango",
                  "Nederland"
                ],
                "categoryId": "19",
                "liveBroadcastContent": "none",
                "localized": {
                  "title": "Noelia Hurtado & Carlitos Espinoza in Amsterdam 2014 #1",
                  "description": "24-26.10.2014 r., Amsterdam, Netherlands,\nPerformance 25th Oct, \"Salon de los Sabados\" in Academia de Tango"
                }
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 05 Feb 2023 22:24:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=AQ9Ri3kWa_4&key=<YOUTUBE_API_KEY>&maxResults=50&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "v179_MUeNoqLfia8EP9gYz4Z8dk",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "n09gRRorLX1SXYLFGR6QLyoOzGA",
              "id": "AQ9Ri3kWa_4",
              "contentDetails": {
                "duration": "PT2M47S",
                "dimension": "2d",
                "definition": "hd",
                "caption": "false",
                "licensedContent": false,
                "regionRestriction": {
                  "blocked": [
                    "RU"
                  ]
                },
                "contentRating": {},
                "projection": "rectangular"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 05 Feb 2023 22:24:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=AQ9Ri3kWa_4&key=<YOUTUBE_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "g_4rdDrN84-twT1oiSW8s3qmmCw",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "qfWSuNXJHxzxZ4KARP8mfmMmD-8",
              "id": "AQ9Ri3kWa_4",
              "statistics": {
                "viewCount": "1042",
                "likeCount": "3",
                "favoriteCount": "0",
                "commentCount": "0"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sun, 05 Feb 2023 22:24:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCvnY4F-CJVgYdQuIv8sqp-A&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "auyQakhxpjUwS2SvMbc0JWR5g-g",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "EXispuaMmn-KQ-Bjy8UPevd7Byk",
              "id": "UCvnY4F-CJVgYdQuIv8sqp-A",
              "snippet": {
                "title": "jkuklaVideo",
                "description": "",
                "customUrl": "@jkuklavideo",
                "publishedAt": "2012-05-21T12:31:41Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWaKWUq-2aJhzwmgH7VQ-mkxXcySvtGB7Oge3kh=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWaKWUq-2aJhzwmgH7VQ-mkxXcySvtGB7Oge3kh=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AL5GRJWaKWUq-2aJhzwmgH7VQ-mkxXcySvtGB7Oge3kh=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "jkuklaVideo",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Sun, 05 Feb 2023 22:29:57 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UCvnY4F-CJVgYdQuIv8sqp-A&key=<YOUTUBE_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "pYwi_m4ANZFnci6b83KMjdmXLhE",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "y6kfefGVKZdw2OwYB1r46Dlc2tM",
              "id": "UCvnY4F-CJVgYdQuIv8sqp-A",
              "statistics": {
                "viewCount": "301611",
                "subscriberCount": "383",
                "hiddenSubscriberCount": false,
                "videoCount": "169"
              }
            }
          ]
        }
  recorded_at: Sun, 05 Feb 2023 22:29:57 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?id=AQ9Ri3kWa_4&key=<YOUTUBE_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "g_4rdDrN84-twT1oiSW8s3qmmCw",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "qfWSuNXJHxzxZ4KARP8mfmMmD-8",
              "id": "AQ9Ri3kWa_4",
              "statistics": {
                "viewCount": "1042",
                "likeCount": "3",
                "favoriteCount": "0",
                "commentCount": "0"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Fri, 10 Feb 2023 09:51:11 GMT
recorded_with: VCR 6.1.0
