<div class="logo left">
  <sl-icon
    style="font-size: 20px; cursor: pointer;"
    class="cursor-pointer"
    name="list"
    data-action="click->drawer#show">
  </sl-icon>
  <%= link_to root_path do %>
    <h3>TangoTube</h3>
  <% end %>
</div>
