<div class="logo left">
  <%= button_tag fa_icon("bars"), style: "font-size: 20px;", "data-action": "click->toggle#navShowHide" %>
  <%= link_to root_path do %>
    <h3>TangoTube</h3>
  <% end %>
</div>
