<div class="logo left">
  <sl-icon style="font-size: 20px; cursor: pointer;" class="cursor-pointer" name="list" onclick="document.querySelector('#drawer-placement-left').show()"></sl-icon>
  <%= link_to root_path do %>
    <h3>TangoTube</h3>
  <% end %>
</div>
