<div class="search" data-controller="combobox">
  <%= form_with url: root_path,
        method: :get,
        class: "searchBarContainer",
        id: id,
        data: { controller: "form",
                        "form-url": search_search_suggestions_path,
                        action: "invalid->form#hideValidationMessage:capture"
                         } do |f| %>
    <%= f.search_field :query, class: "searchBar",
                                value: params[:query],
                                placeholder: "Search #{number_with_delimiter(@videos_total)} videos...",
                                autocomplete: "off",
                                spellcheck: "false",
                                required: true,
                                data: { action: "focus->combobox#start
                                                  input->form#submit",
                                                  "combobox-target": "input",
                                                  "form-target": "input" } %>
    <%= f.button fa_icon("search"), name: nil, type: 'submit' %>
    <%= render "shared/header/search/autocomplete", id: id %>
  <% end %>
</div>
