<% if false %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="upperHeadContainer sm:hidden">
        <div class="add_links">
          <%= link_to "Add Event", events_path %>
          <%= link_to "Add Channel", channels_path %>
          <%= link_to "Add Playlist", playlists_path %>
          <%= link_to "Add Video", new_video_path %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
