.contact {
  padding: var(--spacing-md) 0;
  border-bottom: 1px solid var(--background-div-primary-base);

  &__header-links {
    display: none;
    padding-bottom: var(--spacing-sm);
    padding: var(--spacing-xs) var(--spacing-md);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  .input__input {
    width: 100%;
  }

  @include breakpoint-tablet {
    & > .container {
      display: block;
    }
    padding: 0;
    border-bottom: none;

    .button--sm {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  @include breakpoint-desktop {
    &__form {
      flex-direction: row;
      .input {
        width: 100%;
      }
    }
  }
}
