.footer {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  z-index: var(--z-footer);
  height: 40px;

  &__spacer {
    height: 40px;
  }

  @include breakpoint-tablet {
    // padding-top: var(--spacing-xl);
    display: grid;
    grid-template-columns:
      minmax(var(--container-gap), 1fr)
      0
      minmax(0, 1280px)
      0
      minmax(var(--container-gap), 1fr);

    & > * {
      grid-column: 3/3;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__links-contact {
      // padding-bottom: 40px;
    }

    &__links {
      grid-template-columns: auto 1fr;
    }
  }
  @include breakpoint-desktop {
    &__links {
      grid-template-columns: 1fr 1fr;
    }
  }
}
