.footer {
  grid-column: 1 / 4;
  background: var(--color-neutral-100);
  width: 100%;
  z-index: var(--z-footer);
  padding: var(--spacing-md);

  @include breakpoint-tablet {
    padding: var(--spacing-xs);
  }
}
