.links {
  padding: 24px 0;
  border-bottom: 1px solid var(--background-div-primary-base);

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  @include breakpoint-tablet {
    & > .container {
      display: block;
    }
    padding: 0;
    border-bottom: none;
  }
}
