.search_results {
  position: absolute;
  top: 45px;
  left: 0px;
  background-color: #fff;
  padding-top: 16px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100000000000;
  border-radius: 4px;
}
.search_results ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.search_results ul li {
  list-style-type: none;
  border-radius: 4px;
  a {
    color: rgb(82, 82, 91);
    display: block;
    padding: 4px 24px 4px 10px;

    &:hover {
      color: rgb(82, 82, 91);
    }

    &[aria-selected="true"] {
      background-color: rgb(212, 212, 216);
      border-radius: 4px;
    }
  }
}

.search_results ul li:hover {
  background: rgb(212, 212, 216);
}
