#menu-additional-filters
  div Addition Filters
  - if current_user
    = button_tag type: "button", class: "additional-filters-button", data: { controller: "filter", action: "filter#filter", "filter-watched-value": filtering_params["watched"] == "true" ? 0 : "true" } do
      - if filtering_params["watched"] == "true"
        = content_tag(:b, "Watched")
        = fa_icon("times", class: "videos-sortable-icon")
      - else
        = t(".watched")
    = button_tag type: "button", class: "additional-filters-button", data:  {controller: "filter", action: "filter#filter", "filter-liked-value": filtering_params["liked"] == "true" ? 0 : "true" } do
      - if filtering_params["liked"] == "true"
        = content_tag(:b, "Liked")
        = fa_icon("times", class: "videos-sortable-icon")
      - else
        = t(".liked")
    = button_tag type: "button", class: "additional-filters-button",data: { controller: "filter",action: "filter#filter", "filter-watched-value": filtering_params["watched"] == "false" ? 0 : "false" } do
      - if filtering_params["watched"] == "false"
        = content_tag(:b, "New To You")
        = fa_icon("times", class: "videos-sortable-icon")
      - else
        = t(".new_to_you")
  = button_tag type: "button", class: "additional-filters-button", data: { controller: "filter", action: "filter#filter", "filter-hd-value": filtering_params["hd"] == "true" ? 0 : "true" } do
    - if filtering_params["hd"] == "true"
      = content_tag(:b, "HD")
      = fa_icon("times", class: "videos-sortable-icon")
    - else
      = t(".hd")
  = button_tag type: "button", class: "additional-filters-button", data: { controller: "filter", action: "filter#filter", "filter-dancer-value": filtering_params["dancer"] == "true" ? 0 : "true" } do
    - if filtering_params["dancer"] == "true"
      = content_tag(:b, "With Dancer")
      = fa_icon("times", class: "videos-sortable-icon")
    - else
      = t(".with_dancer")
