= form_with(model: couple) do |f|
  - if couple.errors.any?
    div style="color: red"
      h2
        = "#{pluralize(couple.errors.count, "error")} prohibited this couple from being saved:"
      ul
        - couple.errors.each do |error|
          li
            = error.full_message
  div
    = f.label :dancer_id, style: "display: block"
    = f.text_field :dancer_id
  div
    = f.label :profile_image, class: "label"
    .dropzone.dropzone-default.dz-clickable data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1"
      = f.file_field :profile_image, direct_upload: true, "data-dropzone-target": "input"
      .dropzone-msg.dz-message.needsclick.text-gray-600
        h3 class="dropzone-msg-title"
          Drag here to upload or click here to browse
        span class="dropzone-msg-desc text-sm"
          2 MB file size maximum. Allowed file types png, jpg.
  div
    = f.label :cover_image, class: "label"
    .dropzone.dropzone-default.dz-clickable data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1"
      = f.file_field :cover_image, direct_upload: true, "data-dropzone-target": "input"
      .dropzone-msg.dz-message.needsclick.text-gray-600
        h3 class="dropzone-msg-title"
          Drag here to upload or click here to browse
        span class="dropzone-msg-desc text-sm"
          2 MB file size maximum. Allowed file types png, jpg.
  div
    = f.submit


