---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=invalid&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "RuuXzTIr0OoDqI4S0RU6n4FqKEM",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 5
          }
        }
  recorded_at: Sun, 11 Jun 2023 22:49:56 GMT
recorded_with: VCR 6.1.0
