.comment-with-replies {
  margin-bottom: 8px;
  border-radius: 6px;
  transition: background 0.3s ease;

  &:hover {
    background: rgb(243, 244, 246);
  }
}

.avatar-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
