.filter-container {
  position: absolute;
  top: 75px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  margin-bottom: 0.5rem;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  z-index: 10;

  #form-frame {
    flex: 1;
    display: flex;
    form {
      flex: 1;
      display: flex;
    }
  }

  .filter {
    position: relative;
    margin: 0 8px;
    font-size: 0.8rem;
    label {
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 0.8rem;
      padding: 0 0 8px 0;
    }
  }
}
