= content_tag :div, id: "bookmark-#{video.youtube_id}" do
  = button_to bookmark_video_path(video.youtube_id), method: :patch, class: ["button button--secondary button--icon-left", current_user&.voted_up_on?(video, vote_scope: "bookmark") ? "button--icon-bookmark-fill" : "button--icon-bookmark"] do
    = t('.bookmark')
