<div
<% unless user_signed_in? %>
 data-controller="popper"
<% end %>
>
  <%= content_tag "div", id: "downvote-#{video.youtube_id}",
                          data: { "popper-target": "element",
                          action: "click->popper#show click:outside->popper#hide" } do %>
    <%= button_to downvote_video_path(video.youtube_id), method: :patch,
                                              style: "background: none;",
                                              id: "downvote-button" do %>
      <% if user_signed_in? %>
        <% if current_user&.voted_down_on? video, vote_scope: 'like' %>
          <sl-icon name="hand-thumbs-down-fill" style="font-size: 24px; color: var(--sl-color-gray-800);"></sl-icon>
        <% else %>
          <sl-icon name="hand-thumbs-down" style="font-size: 24px; color: var(--sl-color-gray-800);"></sl-icon>
        <% end %>
      <% else %>
        <sl-icon name="hand-thumbs-down" style="font-size: 24px; color: var(--sl-color-gray-800);"></sl-icon>
      <% end %>
      <span style="color: var(--sl-color-gray-800)">Dislike</span>
    <% end %>
  <% end %>
  <div id="tooltip" class="tooltip" role="tooltip" data-popper-target="tooltip">
    Dislike this video? <br>
    Sign in to make your opinion count. <br>
    <br>
    <div style="margin-bottom: 16px; font-size: 16px;">
      <%= link_to "Sign up",  new_user_registration_path, 'data-turbo-frame': "_top" %> or <%= link_to "Login", new_user_session_path, 'data-turbo-frame': "_top" %>
    </div>
    <div id="arrow" data-popper-arrow></div>
  </div>
</div>
