= content_tag "div", id: "upvote-#{video.youtube_id}" do
= content_tag :div, id: "featured-#{video.youtube_id}" do
= button_to featured_video_path(video.youtube_id), method: :patch do
- if video.featured?
  .icon.icon--star-filled.icon--xl
- else
  .icon.icon--star.icon--xl
span Featured
