<%= turbo_frame_tag "#{dom_id(@video)}_vote" do %>
  <div class="like-buttons">
    <%= render partial: "videos/show/upvote_link" %>
    <%= render partial: "videos/show/downvote_link" %>
  </div>
<% end %>
