= link_to "Youtube", "vnd.youtube://www.youtube.com/watch?v=#{video.youtube_id}", class: "button button--secondary button--icon-play-rectangle youtube-app-link"
= link_to "Youtube", "https://youtube.com/watch?v=#{video.youtube_id}", class: "button button--secondary button--icon-play-rectangle youtube-web-link"
