---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MDg2YzA2OTA1MzM5NGQ0Mjg3NzE0OWVhOGI1OTllNWU6NDZkZGI3YmY4YjA4NDY4ZDlhNTAzMWMxZjY1N2Q0NjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - '0278faf42197c2d5'
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBx0-GOxvAA2zOM-3r44qDgW2ljiTpQha50rFbYATJx9K-4lVtan548Zw4-XU85QEjDneTk4337iTo3N5fjRJiZMhMsmb0tW3bQvPITHY2uz7uSafM","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sat, 29 Jul 2023 13:02:27 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=la%20yumba%20osvaldo%20pugliese&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBx0-GOxvAA2zOM-3r44qDgW2ljiTpQha50rFbYATJx9K-4lVtan548Zw4-XU85QEjDneTk4337iTo3N5fjRJiZMhMsmb0tW3bQvPITHY2uz7uSafM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=la+yumba+osvaldo+pugliese&type=track&offset=0&limit=1",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/2HO9rAU2R7CRnmhx0ytN41"
                  },
                  "href" : "https://api.spotify.com/v1/artists/2HO9rAU2R7CRnmhx0ytN41",
                  "id" : "2HO9rAU2R7CRnmhx0ytN41",
                  "name" : "Osvaldo Pugliese",
                  "type" : "artist",
                  "uri" : "spotify:artist:2HO9rAU2R7CRnmhx0ytN41"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "ET", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4duy4YMP7CHvE8kQk8oZXi"
                },
                "href" : "https://api.spotify.com/v1/albums/4duy4YMP7CHvE8kQk8oZXi",
                "id" : "4duy4YMP7CHvE8kQk8oZXi",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b27335bf00c7e1f5fef15aa7bfa9",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e0235bf00c7e1f5fef15aa7bfa9",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d0000485135bf00c7e1f5fef15aa7bfa9",
                  "width" : 64
                } ],
                "name" : "The Vast Ocean of Tango",
                "release_date" : "2021-07-23",
                "release_date_precision" : "day",
                "total_tracks" : 12,
                "type" : "album",
                "uri" : "spotify:album:4duy4YMP7CHvE8kQk8oZXi"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2HO9rAU2R7CRnmhx0ytN41"
                },
                "href" : "https://api.spotify.com/v1/artists/2HO9rAU2R7CRnmhx0ytN41",
                "id" : "2HO9rAU2R7CRnmhx0ytN41",
                "name" : "Osvaldo Pugliese",
                "type" : "art[...]
