<% unless video_query_params.empty? %>
  <h3 style="margin: 0px; padding: 15px 0; border-bottom: 1px solid rgb(242, 242, 242);">
    <%= videos_header(filtering_params, sorting_params) %>
  </h3>
<% end %>
