<% unless video_query_params.empty? %>
  <div class="videos-header">
    <div id="filter_results">
      <% if filtering_params.present? %>
        <h3><%= "#{pluralize(number_with_delimiter(@search.videos.size), "Result")} Found for..." %></h3>
      <% end %>
    </div>
    <h3>
      <%= videos_header(filtering_params, sorting_params) %>
    </h3>
  </div>
<% end %>
