div style="height: 80vh; width: 100%; max-width: 24rem; display: flex; flex-direction: column; justify-content: center; align-items: center; font-size: var(--sl-font-size-small); color: var(--sl-color-neutral-500);"
  div style="display: flex; justify-content: center;"
    div style="font-size: var(--sl-font-size-2x-large); color: var(--sl-color-neutral-1000);"
      h4 "Edit #{resource_name.to_s.humanize}"
  div style="display: flex; flex-direction: column; gap: 16px; width: 100%; max-width: 24rem;"
    = form_for resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }  do |f|
      = render "devise/shared/error_messages", resource: resource
      div class="field"
        div class="row"
          div class="column" class="display: flex; justify-center"
            = image_tag avatar_url_for(resource, opts = {}), class: "img-fluid rounded", style: "border-radius: 6px;"
          = f.file_field :avatar, style: "background: none; width: 100%;"
      = render "devise/shared/error_messages", resource: resource
      = f.text_field :first_name, autocomplete: "off", style: "margin-bottom: 8px;"
      = f.text_field :last_name, autocomplete: "off", style: "margin-bottom: 8px;"
      = f.email_field :email, autofocus: true, style: "margin-bottom: 8px;"
      = f.password_field :password, autocomplete: "off", style: "margin-bottom: 8px;", "toggle-password": ""
      = f.submit "Update", class: "primary-button", style: "width: 100%;"
      div style="width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 8px;"
        = button_to t(".back"), href: root_path, class:"white-button", style:"width: 100%;"
    div style="margin-top: 24px;"
      = render "devise/shared/links"


