/*!* TODO: Send a pull request to add a sl-menu-item-active-background-color. *!*/
sl-menu-item:hover:not([aria-disabled="true"])::part(base),
sl-menu-item:focus:not([aria-disabled="true"])::part(base) {
  background-color: var(--sl-color-gray-200);
  color: var(--sl-color-neutral-800);
}

sl-card::part(base) {
  background-color: transparent;
  box-shadow: none;
  --padding: var(--sl-spacing-small) 0;
  --border-width: 0;
}

/* TODO: Remove this CSS class */
.selectable:hover {
  background-color: var(--sl-color-gray-200);
}

/* Work around the issue where the divider may lose the border width */
sl-divider:not([vertical]) {
  border-top-width: 1px;
}
sl-divider[vertical] {
  border-left-width: 1px;
}

.drawer {
  a {
    color: var(--sl-color-gray-700);
    &:hover {
      color: var(--sl-color-gray-800);
    }
  }
  svg {
    fill: var(--sl-color-gray-700);

    &:hover {
      fill: var(--sl-color-gray-800);
    }
  }
}
