.left {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
  a {
    height: 22px;
  }
  svg {
    fill: var(--sl-color-gray-700);
    &:hover {
      fill: var(--sl-color-gray-800);
    }
  }

  #menu {
    padding: 0 7px;
    cursor: pointer;
  }
}
