<div class="filter-sorting-container" data-controller="filter">
  <%= render "videos/index/filter-sorting/header" %>
  <%= render "videos/index/filter-sorting/filters" %>
  <%= render "videos/index/filter-sorting/sorting" %>
</div>
