$avatar-sizes: (
  'xs': 18px,
  'sm': 24px,
  'md': 28px,
  'lg': 48px,
  'xl': 64px,
);

.avatar {
  vertical-align: middle;
  width: map-get($avatar-sizes, 'md');
  height: map-get($avatar-sizes, 'md');
  border-radius: var(--border-radius-circle);

  @each $size-name, $size-value in $avatar-sizes {
    &--#{$size-name} {
      width: $size-value;
      height: $size-value;
    }
  }
}
