.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  position: relative;

  &>input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  &--primary {
    color: #ffffff;
    background-color: var(--background-primary-100);

    &:hover {
      background-color: var(--background-primary-100);
    }

    &:disabled {
      background-color: var(--background-button-primary-inactive);
    }
  }

  &--secondary {
    background-color: var(--background-button-secondary-base);
    border-color: var(--background-button-border-secondary);
    color: var(--text-button-secondary-base);

    &:hover {
      color: white;
      background-color: var(--background-button-secondary-base);
    }
  }

  &--block {
    width: 100%;
  }

  &--sm {
    padding: 9px 24px;
  }

  &--link {
    background-color: transparent;
    color: var(--text-link-primary-base);
    padding: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;

    &.button--sm {
      font-size: 14px;
      line-height: 21px;
    }

    &:hover {
      color: var(--background-primary-200);
    }
  }

  &--search {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 0px;
  }

  &--link-secondary {
    @extend .button--link;
    color: var(--text-link-secondary-base);

    &:hover {
      color: darken(#a886f7, 5%);
    }
  }

  &.hidden {
    display: none;
  }

  @include breakpoint-tablet {
    &--sm {
      padding: calc(var(--spacing-xs) - 1px) var(--spacing-xl);
    }

    &--link {
      padding: 0;

      &.button--tablet-md {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  @each $icon in $icons {
    &--icon-#{$icon} {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxs);
      align-items: center;
      justify-content: center;

      &::before {
        @include maskedBackground;
        content: '';
        height: var(--spacing-md);
        width: var(--spacing-md);
        display: block;
        mask-image: url('@assets/images/icons/#{$icon}.svg');
      }

      &.button--icon-left {
        display: flex;
        flex-direction: row-reverse;
      }

      &.button--icon-top {
        display: block;
      }
    }
  }
}
