.button {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: var(--spacing-md);
  text-align: center;
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xs) var(--spacing-xxs);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  position: relative;
  white-space: nowrap;

  & > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  &--primary {
    color: var(--color-neutral-1000);
    background-color: var(--color-primary-500);

    &:hover {
      background-color: var(--color-primary-600);
    }

    &:disabled {
      background-color: var(--color-primary-400);
    }
  }

  &--secondary {
    font-weight: 400;
    font-size: 14px;
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-1000);

    &:hover {
      background-color: var(--color-neutral-300);
    }

    &.active {
      background-color: var(--color-neutral-1000);
      color: var(--color-neutral-0);
    }
  }

  &--vote {
    background-color: var(--color-neutral-200);
    border-radius: var(--border-radius-pill);
    color: var(--color-neutral-1000);
    font-size: 12px;
    font-weight: var(--font-weight-normal);
    padding: 4px 8px;

    &:hover {
      background-color: var(--color-neutral-400);
    }

    &.active {
      background-color: var(--color-neutral-500);
    }
  }

  &--neutral {
    display: inline-flex;
    flex-direction: row;
    gap: var(--spacing-xxs);
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-1000);

    &:hover {
      background-color: var(--color-neutral-300);
    }

    &:disabled {
      background-color: var(--color-neutral-100);
    }
  }

  &--block {
    width: 100%;
  }

  &--sm {
    padding: 4px 8px;
    font-size: 14px;
  }

  &--md {
    padding: 8px 16px;
    font-size: 15px;
  }

  &--patreon {
    background-color: #ff424d;
    color: white;
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 500;

    &::before {
      content: '';
      color: black;
    }

    &:hover {
      background-color: #e02231;
    }

    &.active {
      background-color: #b01b28;
    }
  }

  &--support {
    background: var(--color-red-500);
    position: fixed;
    bottom: var(--spacing-md);
    right: var(--spacing-md);
    z-index: var(--z-index-support-button);
    padding: var(--spacing-xs) var(--spacing-sm);
    &:hover {
      background: var(--color-red-600);
    }
  }

  &--link {
    background-color: transparent;
    color: var(--text-link-primary-base);
    padding: 0px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);

    &.button--sm {
      font-size: var(--font-size-sm);
      line-height: var(--line-height-normal);
    }

    &:hover {
      color: var(--color-primary-200);
    }
  }

  &--link-secondary {
    @extend .button--link;
    color: var(--text-link-secondary-base);

    &:hover {
      color: var(--color-primary-200);
    }
  }

  &.hidden {
    display: none;
  }

  @include breakpoint-tablet {
    &--link {
      padding: 0;

      &.button--tablet-md {
        font-size: var(--font-size-lg);
        line-height: var(--font-size-lg);
      }
    }
  }

  @each $icon in $icons {
    &--icon-#{$icon} {
      display: inline-flex;
      flex-direction: row;
      gap: var(--spacing-xxs);
      align-items: center;
      justify-content: center;

      &::before {
        @include maskedBackground;
        content: '';
        height: var(--spacing-sm);
        width: var(--spacing-sm);
        display: block;
        mask-image: url('@assets/images/icons/#{$icon}.svg');
      }

      &.button--icon-right {
        flex-direction: row-reverse;
      }
    }
  }
}
