.card {
  display: flex;
  flex-direction: column;
  background-color: var(--panel-background-color);
  box-shadow: var(--shadow-x-small);
  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);

  &__image {
    position: relative;
    display: flex;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    img {
      width: 100%;
    }

    &::after {
      content: attr(data-duration);
      position: absolute;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      right: 5px;
      bottom: 5px;
      padding: 0 0.3em;
      border-radius: 0.3em;
      font-size: 0.7rem;
    }
  }

  &__performance-number {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    right: 5px;
    top: 5px;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    font-size: 0.7rem;
    z-index: 1;
  }

  &__header {
    display: block;
    border-bottom: solid var(--border-width) var(--border-color);
    padding: calc(var(--padding) / 2) var(--padding);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxs);
    padding: var(--spacing-xxs) 0;
  }
}
