.columns {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing-xs);
  gap: var(--spacing-md);

  &__column {
    padding: 16px;
    margin: 5px;
    background-color: #cccccc;
  }

  @include breakpoint-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
