.columns {
  grid-template-columns: auto;
  margin: 0 var(--spacing-xs);
  gap: var(--spacing-md);
  max-width: 1660px;
  margin: 0 auto;

  &__column {
    padding: 16px;
    margin: 5px;
    background-color: #cccccc;
  }

  @include breakpoint-tablet {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
