.container {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    0
    minmax(0, var(--grid-width))
    0
    minmax(0, 1fr);

  & > * {
    grid-column: 3/3;
  }

  &.devise {
    margin-top: 60px;
    margin-inline: auto;
    width: min(100% - var(--spacing-md), 500px);
  }

  &--video {
    padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-mega-2) var(--spacing-sm);
  }

  @include breakpoint-tablet {
  grid-template-columns:
    minmax(var(--container-gap), 1fr)
    0
    minmax(0, var(--grid-width))
    0
    minmax(var(--container-gap), 1fr);
  }
}
