.container {
  display: grid;
  grid-template-columns:
    minmax(var(--container-gap), 1fr)
    0
    minmax(0, 2256px)
    0
    minmax(var(--container-gap), 1fr);

  & > * {
    grid-column: 3/3;
  }
}
