.drawer {
  grid-column: 1 / 2;
  width: var(--app-drawer-width);
  background: var(--color-neutral-50);
  max-width: 0px;
  overflow: hidden;
  z-index: var(--z-drawer);
  transition: var(--transition-f) ease-in-out;

  &.open {
    max-width: var(--app-drawer-width);
  }
}
