.drawer {
  grid-column: 1 / 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: var(--header-height);
  width: var(--app-drawer-width);
  background: var(--color-neutral-50);
  max-width: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: var(--z-drawer);
  transition: var(--transition-f) cubic-bezier(0.16, 1, 0.3, 1);

  &.open {
    max-width: var(--app-drawer-width);
    // padding-inline: var(--spacing-xs);
  }
}

@include breakpoint-tablet {
  .drawer {
    display: block;
  }
}
