.drawer {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  left: calc(-1 * var(--app-drawer-width));
  width: var(--app-drawer-width);
  background: var(--color-neutral-50);
  padding-top: calc(56px + var(--spacing-sm));
  animation: left var(--transition-fast);
  z-index: var(--z-drawer);

  &.open {
    left: 0;
  }
}
