.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: var(--z-dropdown);

  // &:not(.show) {
  //   .menu {
  //     display: none;
  //   }
  // }

  &__label {
    padding: var(--spacing-xxs) var(--spacing-sm);
  }

  &__item {
    border-left: 1px solid var(--color-neutral-200);

    &:first-child {
      border-left: none;
    }
  }
}
