.file-upload {
  position: relative;

  &.hidden {
    display: none;
  }

  &__label {
    @extend .caption;
    border: 1px dotted var(--background-input-border-primary-default);
    border-radius: var(--border-radius-card-sm);
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-lg);

    &::before {
      content: '';
      position: relative;
      width: 56px;
      height: 36px;
      background-color: var(--color-neutral-500);
      mask-image: url('@assets/images/icons/file-upload.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }
}

#user_avatar:valid ~ #drag_and_drop {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
#user_avatar:invalid ~ #replace_image {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
