#filters {
  padding: var(--spacing-sm);
  overflow: visible;
}

#desktop-filters {
  display: none;
}

@include breakpoint-desktop {
  #filters {
    position: unset;
    background-color: unset;
    margin-top: unset;
    display: flex !important;
    padding: unset;
  }

  #menu-additional-filters {
    display: none;
  }

  #button-filter {
    display: none;
  }

  #mobile-filters {
    display: none;
  }

  #desktop-filters {
    display: block;
  }

  #mobile-button {
    display: none;
  }
}
