@keyframes appear-then-fade {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  60% {
    opacity: 1;
  }
}

.flash {
  position: absolute;
  top: calc(var(--header-height) + var(--spacing-md));
  right: var(--spacing-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius-md);
  z-index: var(--z-flash-message);
  max-width: 400px;
  text-align: center;
  animation: appear-then-fade 4s both;

  background-color: var(--color-neutral-50);
  color: var(--color-neutral-1000);

  &--success {
    background-color: var(--color-green-400);
  }

  &--error {
    background-color: var(--color-red-300);
  }

  &--warning {
    background-color: var(--color-yellow-400);
  }
}
