.grid {
  display: grid;

  &--main {
    grid-column: 2 / 4;
    overflow-y: scroll;
    margin-bottom: var(--spacing-xxl);
  }

  &--videos {
    gap: 20px;
    @include breakpoint-tablet {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  &--holy-grail {
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
  }
}
