.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
  grid-template-rows: auto 1fr;

  & > * {
    min-width: 0;
  }

  &__main-content {
    padding: 0 12px;
  }

  &__sidebar {
    padding: 0 12px;
  }

  @include breakpoint-tablet {
    display: grid;
  }

  &--videos {
    gap: 12px;

    @include breakpoint-tablet {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 24px;
      padding: 0 24px;
    }
  }

  &--2-col {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include breakpoint-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .grid__main-content {
        grid-column: 1;
      }

      .grid__sidebar {
        grid-column: 2;
        padding: 0px;
      }
    }
  }
}
