.grid {
  display: grid;
  grid-template-columns: 1fr;

  &__main-content {
    padding: 0 12px;
  }

  &--videos {
    gap: 24px;

    @include breakpoint-tablet {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }

  &--2-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__main-content,
    &__sidebar {
      grid-column: 1;
    }
    &__main-content {
      padding: 0 24px;
    }

    @include breakpoint-tablet {
      display: grid;
      grid-template-columns: 2fr 1fr;

      &__main-content {
        grid-column: 1;
      }

      &__sidebar {
        grid-column: 2;
      }
    }
  }
}
