$icon-sizes: (
  'xs': 16px,
  'md': 20px,
  'lg': 24px,
  'xl': 32px,
);

$icon-padding-sizes: (
  'xs': 4px,
  'sm': 8px,
  'md': 12px,
  'lg': 16px,
  'xl': 20px,
);

.icon-wrapper {
  padding: var(--spacing-xs);
}

.icon {
  @include maskedBackground;
  height: map-get($icon-sizes, 'md');
  width: map-get($icon-sizes, 'md');
  flex-shrink: 0;

  @each $size-name, $size-value in $icon-sizes {
    &--#{$size-name} {
      height: $size-value;
      width: $size-value;
    }
  }

  @each $icon in $icons {
    &--#{$icon} {
      mask-image: url('@assets/images/icons/#{$icon}.svg');
    }
  }

  &--white {
    color: var(--color-neutral-1000);
  }

  &--neutral {
    background-color: unset;
  }

  &--black {
    color: var(--color-neutral-0);
  }

  &--youtube {
    width: 90px;
    padding: 12px;
    background-image: url('@assets/images/icons/yt-logo-dark.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tomato {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url('@assets/images/icons/tomato.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: var(--z-tomato);
    transform-origin: center;
    animation: wiggle-jump 3s ease infinite;

    @include breakpoint-tablet {
      top: -12px;
      right: -12px;
    }
  }
}

@keyframes wiggle-jump {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  10% {
    transform: translateY(0) rotate(-5deg);
  }
  20% {
    transform: translateY(0) rotate(5deg);
  }
  30% {
    transform: translateY(0) rotate(-10deg);
  }
  40% {
    transform: translateY(0) rotate(10deg);
  }
  50% {
    transform: translateY(0) rotate(-5deg);
  }
  60% {
    transform: translateY(-10px) rotate(5deg);
  }
  70% {
    transform: translateY(0) rotate(0deg);
  }
  80%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
