.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  position: relative;
  font-size: 16px;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-image: url('@assets/images/icons/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
  }

  &__label {
    @extend .paragraph;
  }

  &__input {
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius-input-sm);
    padding: 8px 16px;
    transition: border-color 0.2s;
    background-color: transparent;
    color: var(--color-neutral-1000);

    &::placeholder {
      color: var(--color-neutral-1000);
    }

    &:focus-visible {
      outline: none;
    }

    &.selected {
      font-weight: bold;
    }
  }

  &--no-border {
    border: none;
    border-radius: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }
}
