.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  position: relative;

  &__label {
    @extend .paragraph;
  }

  &__input {
    font-family: inherit;
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius-input-sm);
    padding: var(--spacing-xs) var(--spacing-xs);
    transition: border-color 0.2s;
    background-color: transparent;
    color: var(--color-neutral-1000);
    width: 100%;

    &::placeholder {
      color: var(--color-neutral-1000);
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      border-color: var(--color-neutral-250);
    }
  }

  textarea.input__input {
    border-radius: var(--border-radius-input-sm);
  }

  &__description {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-neutral-1000);

    &--bold {
      font-weight: 700;
    }

    @include breakpoint-tablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &--checkbox {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    .input__label {
      @extend .caption;
    }

    .input__input {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 1px solid var(--color-neutral-1000);
      flex-shrink: 0;
      padding: 0;
      appearance: none;

      &:focus {
        box-shadow: 0px 0px 5px 1px rgba(45, 147, 231, 0.4);
      }

      &:checked {
        background-color: var(--color-neutral-1000);
        // background-image: url('@assets/images/icons/check-white.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &--search {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: var(--spacing-xxs) var(--spacing-xxs);
    font-size: var(--font-size-sm);
  }

  &--share {
    height: 100%;
  }
}
