.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  position: relative;

  &__label {
    @extend .paragraph;
  }

  &__input {
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius-input-sm);
    padding: var(--spacing-xs) var(--spacing-xs);
    transition: border-color 0.2s;
    background-color: transparent;
    color: var(--color-neutral-1000);

    &::placeholder {
      color: var(--color-neutral-1000);
    }

    &:focus-visible {
      outline: none;
    }

    &.selected {
      font-weight: bold;
    }
  }

  &--search {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: var(--spacing-xxs) var(--spacing-xxs);
    font-size: var(--font-size-sm);
  }

  &--no-border {
    border: none;
    border-radius: 0;
  }
}
