.login-page {
  position: relative;
  height: 100vh;
  background-size: cover;
  padding: 46px var(--padding-x);
  margin: 0 auto;
  max-width: 25rem;

  &__content {
    width: 100%;
    position: relative;
  }

  .logo {
    margin-bottom: 120px;
  }

}
