.lyrics-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-lg);
  background-color: #b71121;
  border-radius: var(--border-radius-xl);
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  position: relative;
  overflow: hidden;

  &--preview {
    position: relative;
    padding: var(--spacing-lg);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 300px;
      pointer-events: none;
      background-image: linear-gradient(
        to top,
        rgba(183, 17, 33, 1),
        rgba(183, 17, 33, 0)
      );
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
  }

  &__lyrics {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    padding: 0 var(--spacing-lg) 80px var(--spacing-lg);
  }

  &__body {
    overflow-y: auto;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      pointer-events: none;
      background-image: linear-gradient(
        to top,
        rgba(183, 17, 33, 1),
        rgba(183, 17, 33, 0)
      );
    }
  }
}
