.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  min-width: 120px;
  color: var(--color-neutral-800);
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-neutral-200);
  }
}
