.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-50);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  top: var(--spacing-xxl);

  &--right {
    right: 0;
  }

  &--left {
    left: 0;
  }

  &.hidden {
    display: none;
  }
}
