.menu-item {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-md);
  min-width: 120px;
  color: var(--color-neutral-800);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap; /* Add this line */

  &:hover {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-1000);
  }

  &--bold {
    font-weight: 500;
  }
}
