.metadata-item {
  &__label {
    font-size: var(--font-size-lg);
    font-weight: 100;
  }

  &__value {
    font-weight: 400;
    font-size: var(--font-size-lg);
    a {
      color: #D60017;
    }
  }
}
