.navbar {
  position: sticky;
  background-color: var(--color-neutral-100);
  z-index: var(--z-navbar);
  height: var(--navbar-height);
  top: 0;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    color: var(--color-neutral-50);

    &--menu {
      display: flex;
      flex-direction: column;
    }

    &--account {
      display: flex;
      gap: 10px;
    }

    &--links {
      gap: var(--spacing-sm);
    }
  }

  &__logo {
    width: 130px;
    height: 30px;
    mask-image: url('@assets/images/app_logo.svg');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background: var(--color-neutral-800);
    &:hover {
      background: var(--color-neutral-1000);
    }
  }

  &__top {
    padding: var(--spacing-xxs) var(--spacing-md) var(--spacing-xxs)
      var(--spacing-xxl);
    max-width: var(--page-main-max-width);
  }

  &__filters {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: var(--page-main-max-width);
    padding: 0 var(--spacing-xxs);
  }

  &__bottom {
    background-color: var(--color-neutral-0);
  }

  @include breakpoint-tablet {
    top: 0 !important;

    &__filters {
      padding: 0 var(--spacing-md);
    }

    #mobile-search {
      display: none;
    }

    &__search-bar {
      display: flex;
    }
  }
}
