.navbar {
  grid-column: 1 / 4;
  z-index: var(--z-navbar);
  padding: var(--spacing-xxs) var(--spacing-sm);
  background-color: var(--color-neutral-100);

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    color: var(--color-neutral-50);

    &--menu {
      display: flex;
      flex-direction: column;
    }

    &--account {
      display: flex;
      gap: 10px;
    }

    &--links {
      gap: 10px;
    }
  }

  &__search {
    position: relative;
    flex: 0 1 728px;
    width: 100%;
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-navbar-1);
  }
  &__main {
    position: relative;
    padding: var(--spacing-md) 0;
    background-color: var(--color-neutral-0);
    z-index: var(--z-navbar-2);
  }
  &__logo {
    display: none;
    width: 112px;
    height: 22px;
    mask-image: url('@assets/images/app_logo.svg');
    mask-size: fit;
    mask-position: center left;
    mask-repeat: no-repeat;
    background: var(--color-neutral-800);
    &:hover {
      background: var(--color-neutral-1000);
    }
  }

  &__close {
    display: none;
    margin-left: auto;
  }

  &__navigation {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% - 16px));
    width: 100%;
    background-color: var(--color-neutral-0);
  }

  &.active {
    .navbar {
      &__overlay {
        display: block;
        background-color: rgba(var(--color-neutral-1000), 0.3);
      }
      &__logo {
        opacity: 0;
      }
      &__open {
        display: none;
      }
      &__close,
      &__navigation {
        display: block;
      }
    }
  }

  @include breakpoint-tablet {
    .navbar {
      &__search {
        margin-inline: var(--spacing-md);
      }
      &__logo {
        display: block;
      }
    }
  }

  @include breakpoint-desktop {
  }
}
