.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    width: 100%;
    padding-top: 52px;
  }

  &--with-filter-bar {
    .page__main {
      padding-top: 104px;
    }
  }

  @include breakpoint-tablet {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1800px) 1fr;
    grid-template-rows: 52px 1fr auto;
    justify-items: center;

    &__main {
      grid-column: 2;
      grid-row: 2;
      max-width: 1920px;
      padding-top: 0;
    }
  }
}
