.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__main {
    display: flex;
    flex: 1;
    width: 100%;
    padding-top: 96px;
    justify-content: center;
    align-items: center;
  }

  &--with-filter-bar {
    .page__main {
      padding-top: 104px;
    }
  }

  @include breakpoint-tablet {
    &__main {
      grid-column: 2;
      grid-row: 2;
      max-width: var(--page-main-max-width);
    }

    &--with-filter-bar {
      .page__main {
        padding-top: 96px;
      }
    }
  }
}
