.personalization-request {
  @extend .caption;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 2px 12px -1px rgba(20, 26, 48, 0.16);
  background-color: var(--color-neutral-0);
  backdrop-filter: blur(6px);
  padding: var(--spacing-md) var(--spacing-md);
  z-index: var(--z-index-cookies);
  border-radius: var(--border-radius-xl);
  font-size: 12px;
  p {
    font-size: 12px;
  }

  .subheading {
    font-size: 12px;
  }
  @include breakpoint-tablet {
    max-width: 600px;
    left: unset;
  }

  &__content {
    @include breakpoint-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__text {
    a {
      text-decoration: underline;
    }
  }

  .heading {
    margin-bottom: 20px;
  }

  @include breakpoint-tablet {
    padding: 24px 0 32px;
  }
}
