.scrollable-bar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: var(--spacing-xxs);
  scroll-snap-type: x mandatory; /* Enable horizontal scrolling */
  padding: var(--spacing-sm) var(--spacing-xs);
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-300) transparent;
}
