.search {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &__input {
    width: 100%;
  }

  &__header {
    background: var(--color-neutral-0);
  }

  &__categories {
    display: flex;
    gap: var(--spacing-xs);
    padding: var(--spacing-xxs) 0;
  }

  .search__results {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
    overflow-y: auto;
  }

  &__result {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
  }

  &__result-image {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
  }

  &__result-details {
    color: var(--color-neutral-1000);
    font-size: var(--font-size-sm);
  }

  &__result-title {
    color: var(--color-neutral-1000);
    font-size: var(--font-size-sm);
  }

  &__result-subtitle {
    color: var(--color-neutral-1000);
    font-size: var(--font-size-xs);
  }
}
