.spinner {
  position: relative;
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
  display: inline-flex;
  margin-inline: auto;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-lg);

  div {
    width: 6%;
    height: 16%;
    background: var(--color-neutral-1000);
    position: absolute;
    left: 49%;
    top: 43%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade 1s linear infinite;
  }

  .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }

  .bar2 {
    transform: rotate(45deg) translate(0, -130%);
    animation-delay: -0.9167s;
  }

  .bar3 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.833s;
  }
  .bar4 {
    transform: rotate(135deg) translate(0, -130%);
    animation-delay: -0.7497s;
  }
  .bar5 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.667s;
  }
  .bar6 {
    transform: rotate(225deg) translate(0, -130%);
    animation-delay: -0.5837s;
  }
  .bar7 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  .bar8 {
    transform: rotate(315deg) translate(0, -130%);
    animation-delay: -0.4167s;
  }
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
