.tabs {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-xxxs);
  background-color: var(--color-neutral-200);
  border-radius: 12px;

  &__tab {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-lg);
    background: var(--color-neutral-200);
    cursor: pointer;
    transition: all var(--transition-md) ease-in-out;

    &:hover {
      background: var(--color-neutral-300);
    }

    &.active {
      background: var(--color-neutral-400);
    }
  }

  &__panel {
    &.hidden {
      display: none;
    }

    &.active {
      display: block;
    }
  }
}
