.tabs {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-xxxs);
  background: #740c17;
  border-radius: 12px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);

  &__tab {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-lg);
    background: #740c17;
    cursor: pointer;
    transition: all var(--transition-md) ease-in-out;

    &:hover {
      background: #800c18;
    }

    &.active {
      background: #a8101f;
    }
  }

  &__panel {
    &.hidden {
      display: none;
    }

    &.active {
      display: block;
    }
  }
}
