.tag {
  display: inline-block;
  border-radius: 3px;
  padding: var(--spacing-xxxs) var(--spacing-xxxs);
  border-radius: 3px;
  background: var(--color-neutral-100);
  color: var(--color-neutral-900);
  font-weight: var(--font-weight-normal);

  &--sm {
    font-size: var(--font-size-xs);
    display: inline-block;
    font-weight: var(--font-weight-normal);
  }

  &--lg {
    font-size: var(--font-size-lg);
    border-radius: 4px;
  }
}
