.top-section {
  background-color: var(--color-neutral-50);
  padding: var(--spacing-sm) 0;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
