.video-info-primary {
  &__title {
    overflow: hidden;
  }

  &__song-info {
    font-size: var(--font-size-sm);
  }
  &__event-info {
    font-size: var(--font-size-sm);
  }

  &__channel-info {
    font-size: var(--font-size-sm);
  }

  &__metadata {
    font-size: var(--font-size-sm);
    color: var(--color-neutral-700);
  }
}
