.video-info {
  padding: var(--spacing-xs);
  &__title {
    overflow: hidden;
  }

  &__song-info {
    font-size: var(--font-size-sm);
  }
  &__event-info {
    font-size: var(--font-size-sm);
  }

  &__channel-info {
    font-size: var(--font-size-sm);
  }

  &__metadata {
    font-size: var(--font-size-sm);
    color: var(--color-neutral-700);
  }

  &__more-link {
    font-size: var(--font-size-sm);
    color: var(--color-neutral-700);
  }

  &:hover {
    background: var(--color-neutral-100);
    border-radius: var(--border-radius-lg);
  }
}
