.video-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 auto;
  width: 100%;
  @include breakpoint-tablet {
    max-width: 360px;
  }

  &--active {
    background-color: var(--color-neutral-50);
  }

  &--compact {
    border-radius: var(--border-radius-lg);
    flex-direction: column;

    .video-card .video-card__image {
      min-width: 180px;
    }

    @include breakpoint-mobile {
      flex-direction: row;
    }

    @include breakpoint-tablet {
      gap: 10px;
      font-size: var(--font-size-sm);

      .video-card__content {
        padding: var(--spacing-xs);
      }

      .video-card__title {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
      }

      .video-card__metadata {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-light);
      }

      .video-card__image-container {
        min-width: 300px;
      }

      .video-card__dancer,
      .video-card__song-metadata {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-normal);
      }
    }
  }

  &__performance-number {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.1em 0.3em;
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--color-neutral-1000);
    border-radius: 0.3em;
    z-index: var(--z-performance-number);
    font-size: var(--font-size-xs);
  }

  &__image-container {
    position: relative;
    min-width: 220px;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-lg);
  }

  &__duration {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 0 0.3em;
    background-color: var(--color-neutral-0);
    border-radius: 0.3em;
    font-size: var(--font-size-xs);
    z-index: var(--z-duration);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--color-neutral-200);
    z-index: var(--z-video-card-image);

    @include breakpoint-mobile {
      border-radius: var(--border-radius-lg);
    }
  }

  &__title {
    color: var(--color-neutral-1000);
    word-wrap: normal;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    padding-right: 32px;
  }

  &__primary {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    width: 100%;
  }

  &__tomato {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0 var(--spacing-xxs);

    @include breakpoint-mobile {
      padding: 0;
    }
  }

  &__dancer {
    color: var(--color-neutral-700);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
  }

  &__metadata {
    color: var(--color-neutral-700);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
  }

  &__song-metadata {
    color: var(--color-neutral-700);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
  }
}
