.video-block {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  z-index: var(--z-video-overlay);
  background: #000;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-lg);
  }

  @include breakpoint-tablet {
    position: relative;
    top: 0px;
    border-radius: var(--border-radius-lg);
  }
}
