.video-card {
  font-size: var(--font-size-sm);

  &--compact {
    display: flex;
    gap: var(--spacing-xs);
    font-size: var(--font-size-xs);

    &__image {
      height: 100px;
      aspect-ratio: 16 / 9;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxxs);
    padding: var(--spacing-xxxs) var(--spacing-xxs);
  }

  &__image {
    position: relative;

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: attr(data-duration);
      position: absolute;
      background-color: black;
      color: var(--color-neutral-1000);
      right: 5px;
      bottom: 5px;
      padding: 0 0.3em;
      border-radius: 0.3em;
    }

    &__performance-number {
      position: absolute;
      background-color: black;
      color: var(--color-neutral-1000);
      right: 5px;
      top: 5px;
      padding: 0.1em 0.3em;
      border-radius: 0.3em;
      z-index: 1;
    }
  }
}
