.window {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: black;
  z-index: var(--z-index-window);
  padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-lg)
    var(--spacing-lg);

  &__close {
    cursor: pointer;
    z-index: var(--z-modal-close);
  }
}
