.youtube-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);

  border-radius: var(--border-radius-lg);

  color: var(--color-neutral-900);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  align-self: flex-start;
  transition: color 0.2s ease-in-out;

  .youtube-link__icon {
    width: 36px;
    height: 36px;
    background-image: url('@assets/images/icons/youtube.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: var(--color-neutral-1000);
  }
}

.youtube-web-link {
  display: none;
}

.youtube-link-supported .youtube-app-link {
  display: none;
}

.youtube-link-supported .youtube-web-link {
  display: flex;
}
