.show-video-title {
  h1 {
    text-decoration: none;
    font-size: inherit;
    color: $show-primary-title;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.2em 0;
  }
}

.show-video-song {
  h2 {
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
    font-weight: 400;
  }
}

.show-channel-icon {
  margin: 0.2em 0.5em 0 0.2em;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.show-channel-title {
  font-size: 0.8rem;
  color: $show-primary-channel-title;
}

.show-video-channel {
  display: flex;
  align-items: center;
  font-size: 1rem;
  a {
    margin-bottom: 0.1em;
    text-decoration: none;
    transition: color 150ms;
    color: $show-primary-channel-title;
  }

  a:hover {
    color: $show-primary-channel-title-hover;
  }
}

.show-video-metadata {
  color: $show-primary-channel-title;
  font-size: 0.7rem;
}

.show-video-event {
  font-size: 1rem;
  text-decoration: none;
  margin: 3px 0;
}

.share-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  flex-flow: wrap;
  gap: 10px;
  width: 100%;

  input {
    background-color: var(--sl-color-neutral-0);
    color: var(--sl-color-gray-800);
  }

  .copy-to-clipboard {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
    width: 100%;

    input {
      font-size: 15px;
      width: 100%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 1px solid rgba(27, 31, 35, 0.15);
      border-left: 1px solid rgba(27, 31, 35, 0.15);
      border-bottom: 1px solid rgba(27, 31, 35, 0.15);
      border-right: 0px;
      margin: 0px;
    }

    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      margin: 0 !important;
      height: 100%;

      svg {
        fill: var(--sl-color-gray-800);
      }
    }
  }

  .like-buttons {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    font-size: 14px;
    overflow-x: auto;
    color: var(--sl-color-gray-800);

    button {
      padding: 0px;
    }
  }

  .youtube-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 16px;
    margin-top: 15px;

    input {
      background-color: var(--sl-color-neutral-0);
      color: var(--sl-color-gray-800);
    }

    select {
      background-color: var(--sl-color-neutral-0);
      color: var(--sl-color-gray-800);
    }

    .youtube-controls-time {
      display: flex;
      flex-direction: column;

      .input {
        width: 100%;
        width: 60px;
        background-color: var(--sl-color-neutral-0);
      }
    }

    .select {
      height: 40px;
      line-height: 40px;
      background-color: var(--sl-color-neutral-0);
    }

    .spacer {
      font-size: 20px;
      font-style: bold;
    }
  }

  .button--clip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 500px) {
  .like-buttons {
    button {
      flex-direction: column;
    }
  }

  .button--clip {
    flex-direction: column;
  }

  #youtube-comments {
    display: none;
  }

  #bookmark_button {
    display: none;
  }
}
