.banner {
  position: relative;
  display: flex;
  justify-content: center;
  height: calc(100vh - 56px);
  width: calc(100vw - 15px);
  max-width: 100%;
  overflow: hidden;
  font-family: var(--sl-font-sans);

  &__card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);

    h1 {
      font-size: clamp(36px, 4vw, 81px);
    }

    h2 {
      font-size: clamp(18px, 1vw, 28px);
      font-weight: 100;
    }
  }

  &__video {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
  }

  &__icon {
    position: absolute;
    bottom: 16px;
    font-size: var(--sl-font-size-2x-large);
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100vw;
  }
}
