.banner {
  position: relative;
  height: 768px;
  width: calc(100vw - 15px);
  overflow: hidden;
  font-family: var(--sl-font-sans);

  &__video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__card {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);

    h1 {
      font-size: clamp(36px, 4vw, 81px);
    }

    h2 {
      font-size: clamp(14px, 1vw, 28px);
      font-weight: 100;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 500px;
    width: 100vw;

    &__video {
      height: 500px;
      min-height: 500px;
    }
  }
}
