.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding: 0 16px;
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-gray-800);

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
