.search {
  display: flex;
  flex: 0 1 600px;
  align-items: center;
  width: 100%;
  position: relative;
  height: 3.5rem;

  form {
    width: 100%;
    display: flex;
    height: 35px;
    border-radius: 4px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sl-color-gray-300);
    height: 100%;
    width: 56px;
    border: none;
    font-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    svg {
      color: var(--sl-color-gray-700);
    }

    &:hover {
      background-color: var(--sl-color-gray-400);
    }
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--sl-color-gray-200);
    color: var(--sl-color-gray-800);
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: border 100ms ease-in;
    font-size: 14px;
    background-color: var(--sl-color-neutral-0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
      border: 1px solid #65a6f1;
    }
  }
}

@media (max-width: 250px) {
  .search {
    display: none;
  }
}

@media (min-width: 600px) {
  #mobile-search {
    display: none;
    background-color: red;
  }

  #mobile-search-icon {
    display: none;
  }
}

@media (max-width: 600px) {
  #desktop-search {
    display: none;
  }
}
