<%= turbo_frame_tag "banner" do %>
  <div class="banner">
    <%= video_tag "Tango Blues.mp4",
        class: "banner__video",controls: false,
        type: 'video/mp4',
        autoplay: :autoplay,
        loop: :loop,
        muted: :muted,
        controls: false,
        autobuffer: true,
        poster: "video-poster.jpg" %>
    <div class="banner__card">
      <h1>"Experience the new<br/>
        way to watch tango"</h1>
      <h2>
        Time travel through <b>tango history</b><br/>
        <b>Learn</b> about the lyrics & orchestras<br/>
        Watch <b>Commercial Free</b><br/>
      </h2>
      <sl-button
      href="<%= new_user_registration_path %>"
      class="primary-button">
        Try it Now
      </sl-button>
    </div>
  </div>
<% end %>
