<%= turbo_frame_tag "banner" do %>
  <div class="banner">
    <%= video_tag "Tango Blues.mp4",
        class: "banner__video",controls: false,
        type: 'video/mp4',
        autoplay: :autoplay,
        loop: :loop,
        muted: :muted,
        controls: false,
        autobuffer: true,
        poster: "video-poster.jpg" %>
    <div class="banner__card">
      <h1>"Experience the new<br/>
        way to watch tango"</h1>
      <h2>
        Explore <b>Tango History</b><br/>
        Learn the <b>Lyrics & Orchestras</b><br/>
        Watch <b>Without Ads</b><br/>
      </h2>
      <sl-button
      href="<%= new_user_registration_path %>"
      class="primary-button">
        Try it Now
      </sl-button>
    </div>
    <sl-animation name="fadeInDown" easing="easeInOutSine" duration="3000" play>
      <i class="fa-solid fa-angle-down banner__icon"></i>
    </sl-animation>
  </div>
<% end %>
