<%#= render "videos/index/filters" %>
<%= render "videos/index/videos/header" %>
<div class="videos" id="videos">
  <div class="video-section" id="video-section">
    <%= render @videos %>
  </div>
</div>
<div id="next_link">
  <% if @pagy.next %>
    <form action="<%= pagy_url_for(@pagy, @pagy.next) %>" method="post">
      <sl-button type="submit" data-controller= "autoclick">
        Load More
      </sl-button>
    </form>
  <% end %>
</div>
