<div class="banner">
  <%= video_tag "Tango Blues.mp4", controls: false, type: 'video/mp4', autoplay: :autoplay, loop: :loop, muted: :muted, width: "100%", controls: false, autobuffer: true, poster: "video-poster.jpg" %>
  <div class="banner__card">
    <h1>"Experience the better<br/>
      way to watch tango"</h1>
    <h4>
      All the tango videos in one place!<br/>
      Commercial Free Browsing <br/>
      Learn more about the songs<br/>
    </h4>
    <sl-button
      href="<%= new_user_registration_path %>"
      class="primary-button">
      Try it Now
    </sl-button>
  </div>
</div>
