footer class="footer"
  .footer__inner
    .footer__sectionfooter__section--left
      span &copy; TangoTube
      span
      = link_to "Privacy", privacy_path, class: "link-secondary"
      span
      = link_to "Terms", terms_path, class: "link-secondary"
      span
      = link_to "G​oogle Privacy Policy", "http://www.google.com/policies/privacy", class: "link-secondary"
    </div>
    <div class="footer__section footer__section--right">
      = link_to "About", about_path
      = link_to "Contact", contact_path
      = link_to "Become A Supporter", "https://www.patreon.com/tangotube"
