<header id="header" class="header">
  <div class="top">
    <%= render "shared/header/top_bar" %>
  </div>
  <div class="bottom">
    <%= render "shared/header/left" %>
    <%= render "shared/header/search" %>
    <%= render "shared/header/right" %>
  </div>
</header>
