.video-info-lyrics {
  flex: 1;
  border: 1px solid $border-color;
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-gray-900);
  text-align: center;
  line-height: 1.5em;
  min-width: 300px;
  height: 100%;
  padding: 0 0.5em;
}

@media (max-width: 926px) {
  .video-info-lyrics {
    margin: 0;
  }
}
