= turbo_stream.append "events" do
= render partial: "event", collection: @events
= turbo_stream.update "next_link" do
- if @pagy.next
form action=pagy_url_for(@pagy, @pagy.next) method="post"
button type="submit" data-controller="autoclick"
= t("loading_spinner")
- else
span = "Displaying #{@pagy.count} Results"
