.container
  .event-show
    = image_tag event_cover(@event), class: "event-show__cover-image"
    div style="position: relative; width: 100%;"
      = image_tag event_avatar(@event), class: "event-show__avatar"
      div class="event-show__body__header"
        h1
          = @event.title
        div class="event-show__admin"
          = "#{@event.videos_count} Videos"
          - if current_user&.admin?
            div
              = button_to t(".dropdown_button")
              div
                = link_to edit_event_path(@event) do
                  h2 Edit
                = button_to t(".delete"), @event, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }
      .index-container
        = turbo_frame_tag :videos, src: videos_path(event: @event.slug)
