.videos-header {
  width: 100%;
  max-width: 1660px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0px;
  // padding: 10px 0px;
  border-bottom: var(--background-neutral-800);
  background-color: var(--sl-color-neutral-0);
  h3 {
    color: var(--sl-color-gray-800);
  }
}

@media (max-width: 600px) {
  .videos-header {
    padding-left: 10px;
  }
}
