.videos-header {
  width: 100%;
  max-width: 1660px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
}

@media (max-width: 600px) {
  .videos-header {
    padding-left: 10px;
  }
}
