.video-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px 20px;
    background-color: var(--sl-color-neutral-0);
  }

  @media (max-width: 768px) {
    .video-section {
      &__videos {
        grid-template-columns: none;
      }
    }
  }
}

.index-container {
  width: 100%;
  max-width: 1660px;
  padding: 0 40px;
}
