.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 1660px;
  gap: 10px;
  padding-top: 10px;
  background-color: var(--sl-color-neutral-0);
}

@media (max-width: 600px) {
  .filters {
    padding: 10px 10px 0px 10px;
  }
}

.videos-sortable-button {
  display: flex;
  width: 100%;
  color: var(--sl-color-gray-800);
  background-color: var(--sl-color-gray-600);
  justify-content: flex-start;
  align-items: center;
  padding: 6px 24px 6px 0px;
  border: none;
  background: none;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    // color: var(--sl-color-gray-900);
    background-color: var(--sl-color-gray-200);
  }
}

.additional-filters-button {
  display: flex;
  width: 100%;
  color: var(--sl-color-gray-800);
  background-color: var(--sl-color-gray-600);
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0px 6px 24px;
  border: none;
  background: none;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    // color: var(--sl-color-gray-900);
    background-color: var(--sl-color-gray-200);
  }
}

.filter {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select-filter {
  position: static;
}
