.videos-header {
  display: flex;
  gap: 10px;
  margin: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(242, 242, 242);
  color: rgb(70, 70, 70);

  h3 {
    color: rgb(70, 70, 70);
  }
}

@media (max-width: 600px) {
  .videos-header {
    padding-left: 10px;
  }
}
