.videos-header {
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 15px 0 15px 10px;
  border-bottom: 1px solid rgb(242, 242, 242);
  color: rgb(70, 70, 70);

  h3 {
    color: rgb(70, 70, 70);
  }
}
