.search-window {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: var(--z-search-window);
  padding: var(--spacing-md) 16px 128px 16px;
  height: 100%;
  overflow: scroll;
  display: flex;
  left: -100%;
  opacity: 0;
  pointer-events: none;
  transition: left 0.2s ease, opacity 0.2s ease;

  @include breakpoint-tablet {
    top: var(--header-height);
    transition: left 0.5s ease, opacity 0.5s ease 0.3s;
  }

  &::before {
    content: '';
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: hsla(240, 5%, 10%, 0.85);
    backdrop-filter: blur(15px);
    z-index: var(--z-search-window-background);
    transition: left 0.2s ease;
    @include breakpoint-tablet {
      top: var(--header-height);
      transition: left 0.5s ease;
    }
  }

  &__title {
    display: none;

    @include breakpoint-tablet {
      display: block;
    }
  }

  &__close {
    display: hidden;
    cursor: pointer;
    z-index: var(--z-modal-close);
    padding: var(--spacing-xs);

    &--desktop {
      display: none;

      @include breakpoint-tablet {
        position: fixed;
        top: 81px;
        left: var(--spacing-md);
        display: block;
      }
    }
  }

  &--open {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    left: 0;
    opacity: 1;
    pointer-events: all;
  }

  @include breakpoint-tablet {
    padding: 20px 64px 128px 64px;
    &__mobile-search-input {
      display: none;
    }
  }
}

body.search-window--open {
  overflow: hidden;

  .navbar__bottom {
    display: none;
  }
}
