.search-result {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-shrink: 0;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-lg);

  &:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 50%, 0.1);
  }

  &__type {
    font-size: 14px;
    color: var(--color-neutral-500);
  }

  &__image-circle {
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
  }

  &__image {
    aspect-ratio: 16/ 9;
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: var(--border-radius-lg);
  }

  &__details {
    color: var(--color-neutral-1000);
    font-size: var(--font-size-sm);
  }

  &__title,
  &__subtitle {
    flex: 0 1 320px;
    color: var(--color-neutral-1000);
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;

    @include breakpoint-mobile {
      max-width: 230px;
    }
    @include breakpoint-tablet {
      max-width: 270px;
    }
  }

  &__thumbnail {
    border-radius: var(--border-radius-lg);
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 120px;

    @include breakpoint-tablet {
      max-width: 360px;
    }
  }

  &__delete {
    padding: var(--spacing-sm);
  }

  &--dancer,
  &--couple,
  &--song,
  &--channel,
  &--event,
  &--orchestra {
    &:nth-child(n + 4) {
      display: none;
    }
  }

  @include breakpoint-tablet {
    &--dancer,
    &--couple,
    &--song,
    &--channel,
    &--event,
    &--orchestra {
      &:nth-child(n + 4) {
        display: flex;
      }
    }
  }
}
