.search-section {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: var(--border-radius-xl);
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  position: relative;
  width: 100%;

  &--dancers,
  &--events,
  &--orchestras,
  &--songs {
    @include breakpoint-tablet {
      min-height: 50px;
    }
  }

  &--videos {
    min-height: 100%;
  }
}
