.search-window {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: var(--z-window);
  padding: var(--spacing-md) 16px 128px 16px;
  display: none;
  height: 100%;
  overflow: scroll;

  &::before {
    content: '';
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(240, 5%, 10%, 0.85);
    backdrop-filter: blur(15px);
    z-index: -1;
  }

  &__title {
    display: none;
  }

  &__mobile-search-input {
    padding-left: var(--spacing-xxl);
  }

  &__close {
    position: absolute;
    top: 32px;
    left: 24px;
    cursor: pointer;
    z-index: var(--z-modal-close);
  }

  &--open {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  @include breakpoint-tablet {
    padding: 20px 64px 128px 64px;
    &__mobile-search-input {
      display: none;
    }

    &__title {
      display: block;
    }
  }
}

body.search-window--open {
  overflow: hidden;
}
