.search {
  &__input {
    font-size: 16px;
    background-color: var(--color-neutral-50);
    color: var(--color-neutral-1000);
    width: 100%;
    border: 1px solid var(--color-neutral-300);
    border-radius: var(--border-radius-pill);
    padding: 8px 18px;

    @include breakpoint-tablet {
      width: 420px;
    }

    &::placeholder {
      color: var(--color-neutral-600);
    }

    appearance: none;

    &:hover {
      background-color: var(--color-neutral-0);
      border: 1px solid var(--color-neutral-500);
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    overflow-y: auto;
    padding: var(--spacing-md);
    z-index: var(--z-search-modal-index);
  }

  &__categories {
    display: flex;
    gap: var(--spacing-xs);
    padding: var(--spacing-xxs) 0 0 var(--spacing-md);
  }
}

#desktop-search-input {
  display: none;
}

@include breakpoint-tablet {
  #mobile-search-input {
    display: none;
  }

  #desktop-search-input {
    display: block;
  }
}
