.search-section {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: var(--border-radius-xl);
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  position: relative;
  width: 100%;

  &:empty {
    display: none;
  }

  &--videos {
    min-height: 100%;
    overflow-y: auto;
  }
}

[data-theme='light'] .search-section {
  background-color: white;
}
