.search-results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  justify-content: center;

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    overflow: hidden;
    @include breakpoint-desktop {
      width: 50vw;
    }
  }
  &__main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    @include breakpoint-desktop {
      width: 40vw;
    }
  }

  @include breakpoint-desktop {
    flex-direction: row;
  }
}
