.search-results {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding-top: var(--spacing-lg);
  justify-content: center;
  margin: 0 auto;

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: rgb(20, 20, 20);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    @include breakpoint-tablet {
      width: 50vw;
    }
  }
  &__main-content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    background-color: rgb(20, 20, 20);
    border-radius: var(--border-radius-lg);
    gap: var(--spacing-md);
    @include breakpoint-tablet {
      width: 40vw;
    }
  }

  @include breakpoint-tablet {
    flex-direction: row;
  }
}
