.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  gap: 10px;

  #dropdown-avatar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    top: 28px;
    right: 10px;
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: white;
    z-index: 99999;
  }

  .dropdown-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
    width: 100%;
    color: rgb(3, 3, 3);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: background 150ms ease-in-out;

    button {
      width: 100%;
    }

    span {
      margin-left: 15px;
    }

    &:hover {
      background: #e5e5e5;
      color: rgb(3, 3, 3);
      cursor: pointer;
    }

    #mobile-login {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #mobile-login {
      display: flex;
    }
    #desktop-login {
      display: none;
    }
    #mobile-drawer-top {
      display: block;
    }
  }

  @media (min-width: 600px) {
    .avatar {
      display: none;
    }
    .dropdown {
      display: none;
    }

    #mobile-login {
      display: none;
    }

    #desktop-login {
      display: flex;
      gap: 8px;
    }
    #mobile-drawer-top {
      display: none;
    }
  }
}
