.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  gap: 10px;

  #dropdown-avatar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {

    &.hidden {
      display: none;
    }
  }

  @include breakpoint-tablet {
    #mobile-login {
      display: block;
    }

    #desktop-login {
      display: none;
    }

    #mobile-drawer-top {
      display: block;
    }
  }

  @include breakpoint-desktop {
    #mobile-login {
      display: none;
    }

    #desktop-login {
      display: block;
    }

    #mobile-drawer-top {
      display: none;
    }
  }
}
