---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MDg2YzA2OTA1MzM5NGQ0Mjg3NzE0OWVhOGI1OTllNWU6NDZkZGI3YmY4YjA4NDY4ZDlhNTAzMWMxZjY1N2Q0NjE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 8ec6901158a7a913
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCs-L91jDUfJKwusRT20_1JpfNSeSY-nBcZgyB891pYUCrEuqdKEyGv890f-TKeUNwElH0eDg-fu-mUkHWwION9cbm5UCycWXceWA2mDNXsV5l6bww","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sat, 29 Jul 2023 13:31:17 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&q=Nueve%20De%20Julio%20Juan%20D%27Arienzo&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCs-L91jDUfJKwusRT20_1JpfNSeSY-nBcZgyB891pYUCrEuqdKEyGv890f-TKeUNwElH0eDg-fu-mUkHWwION9cbm5UCycWXceWA2mDNXsV5l6bww
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Nueve+De+Julio+Juan+D%27Arienzo&type=track&offset=0&limit=1",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4Kd66a11TeEgIKkIF6l9cG"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4Kd66a11TeEgIKkIF6l9cG",
                  "id" : "4Kd66a11TeEgIKkIF6l9cG",
                  "name" : "Orquesta Juan D' Arienzo",
                  "type" : "artist",
                  "uri" : "spotify:artist:4Kd66a11TeEgIKkIF6l9cG"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "ET", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4YUE1ckGBtE1NXOKn9UBrz"
                },
                "href" : "https://api.spotify.com/v1/albums/4YUE1ckGBtE1NXOKn9UBrz",
                "id" : "4YUE1ckGBtE1NXOKn9UBrz",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2736f2d5a3caef90abb3db49a8b",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e026f2d5a3caef90abb3db49a8b",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048516f2d5a3caef90abb3db49a8b",
                  "width" : 64
                } ],
                "name" : "Orquesta Juan D' arienzo - 9 de Julio",
                "release_date" : "1987-05-24",
                "release_date_precision" : "day",
                "total_tracks" : 14,
                "type" : "album",
                "uri" : "spotify:album:4YUE1ckGBtE1NXOKn9UBrz"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4Kd66a11TeEgIKkIF6l9cG"
                },
                "href" : "https://api.spotify.com/v1/artists/4Kd66a11TeEgIKkIF6l9cG",
                "id" : "4Kd66a11TeEgIKkIF6l9cG",
                "name" : "Orquesta Juan D' Arienzo",
                "type[...]
