---
http_interactions:
  - request:
      method: get
      uri: https://www.patreon.com/api/oauth2/api/current_user/campaigns?include=rewards,creator,goals,pledges
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Bearer rZ0JHNK6c2p0jr10BlFA7rkm6JrVXGQ8J5y31wsEcug
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/vnd.api+json
        X-Patreon-Sha:
          - 163316d74526078764ae8233d7e3adb7a51cb20f
        X-Patreon-Uuid:
          - e1c40a72-19cc-5909-89ea-9266dd8ac361
      body:
        encoding: ASCII-8BIT
        string:
          '{"data":[{"attributes":{"avatar_photo_image_urls":{"default":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJ3Ijo2MjB9/2.jpg?token-time=1691971200&token-hash=x7r7n8MpSUll2i3syZyg1Jr7F1HbxvZbfiUZ7w6nuAI%3D","default_small":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJ3IjozNjB9/2.jpg?token-time=1691971200&token-hash=kGvEB2GPGJJy-i_Qz9XwySLQb0Bqro2TvqRpXh5h9NE%3D","original":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJxIjoxMDAsIndlYnAiOjB9/2.jpg?token-time=1691971200&token-hash=Qecl569tofpm5bo9t3WwjqIXS_Smmc_3ZpZW5D-ku0g%3D","thumbnail":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJoIjozNjAsInciOjM2MH0%3D/2.jpg?token-time=1691971200&token-hash=E3tGR0FlgdyU7g_fBqRt3wUlMVgojxZIL9hROWS-GtQ%3D","thumbnail_large":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJoIjoxMDgwLCJ3IjoxMDgwfQ%3D%3D/2.jpg?token-time=1691971200&token-hash=GilJ4ZlaQilb-wBRLVxBuhgrmCBfMooDoNbMHcE6hlo%3D","thumbnail_small":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJoIjoxMDAsInciOjEwMH0%3D/2.jpg?token-time=1691971200&token-hash=pmE-6m-ve8D-hv0_2N_PdCfT_4M2dgPzGw9TVOJIJrM%3D"},"avatar_photo_url":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/21a42b55391c408d85ccf71b61f4522f/eyJ3IjoyMDB9/2.jpg?token-time=2145916800&token-hash=Sp4WQBzru3xa3nkHnHJ-A2ZfZeAzljGHjeeLu2inpsY%3D","campaign_pledge_sum":2726,"cover_photo_url":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxOTIwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=JIFasEiV6p88pu1OOVhSBGo2HqhLSmWhLWpBZC_ItUM%3D","cover_photo_url_sizes":{"large":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxNjAwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=1J5PHKHJGP5LFDrTAWq7Brvzp8Ep-Iz6KKjYinBMiLA%3D","medium":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxMjAwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=0YpOg20vbKI2OIr3DcwJ9tXtUIekLrkB5OMQLaQyGlU%3D","small":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3Ijo5NjAsIndlIjoxfQ%3D%3D/2.jpg?token-time=1691107200&token-hash=0L2-3d6q7dEpwGsRgUyPSFZJgLbujDvd4D2FboKCEWQ%3D","xlarge":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxOTIwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=JIFasEiV6p88pu1OOVhSBGo2HqhLSmWhLWpBZC_ItUM%3D","xsmall":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3Ijo2MjAsIndlIjoxfQ%3D%3D/2.jpg?token-time=1691107200&token-hash=TsaWQMd7PPhym0gNSvACvG6A1AYLeb7jcWONn5qTccE%3D"},"created_at":"2021-04-29T13:26:21.000+00:00","creation_count":0,"creation_name":"creating
          TangoTubeTV","currency":"EUR","discord_server_id":null,"display_patron_goals":false,"earnings_visibility":"private","image_small_url":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxOTIwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=JIFasEiV6p88pu1OOVhSBGo2HqhLSmWhLWpBZC_ItUM%3D","image_url":"https://c10.patreonusercontent.com/4/patreon-media/p/campaign/6713639/3429091795874438bfd398d87fffb50f/eyJ3IjoxOTIwLCJ3ZSI6MX0%3D/2.jpg?token-time=1691107200&token-hash=JIFasEiV6p88pu1OOVhSBGo2HqhLSmWhLWpBZC_ItUM%3D","is_charge_upfront":true,"is_charged_immediately":true,"is_monthly":true,"is_nsfw":false,"is_plural":false,"main_video_embed":null,"main_video_url":null,"name":"Justin
          Marsh","one_liner":null,"outstanding_payment_amount_cents":0,"paid_member_count":6,"patron_count":6,"pay_per_name":"month","pledge_sum":3003,"pledge_sum_currency":"USD","pledge_url":"/join/tangotube","published_at":"2021-04-29T13:58:43.000+00:00","summary":"I''m
          so excited to hear that you would like to join TangoTube''s pattern page.<br><br>It''s
          the only video searching platform built specifically for Tango and we have
          big plans to expand the functionality on the site and to create the community
          website for all things tango.\u00a0<br><br>This video platform has been a
          work of passion for almost a year now. Before creating this site I had not
          idea about how to program something. The project was inspired by the music
          browsing system that a lot of tango do''s use to manage their music (Being
          able to search for orchestra, singer, recording year, and have lyrics). After
          creating my own tango library, I immediately saw the learning value and I
          thought the same concept could be merged with all the tango videos across
          the web.<br><br>This is just the beginning. I have big plans for this project
          and would like to continue using it to learn programming, while also developing
          this invaluable tool for the tango community.<br><br>If you are frustrated
          with youtube''s recommending the same videos over and over, have trouble keeping
          track of all your online tango classes scattered all across the web, and would
          like to have a place where you can discover new content all in one place,
          please consider supporting the project. A little goes a long way.","thanks_embed":null,"thanks_msg":null,"thanks_video_url":null,"url":"https://www.patreon.com/tangotube"},"id":"6713639","relationships":{"creator":{"data":{"id":"54750768","type":"user"},"links":{"related":"https://www.patreon.com/api/user/54750768"}},"goals":{"data":null},"pledges":{"data":[{"id":"76939667","type":"pledge"},{"id":"81778677","type":"pledge"},{"id":"82416357","type":"pledge"},{"id":"85819954","type":"pledge"},{"id":"121308393","type":"pledge"},{"id":"126075443","type":"pledge"}],"links":{"first":"https://www.patreon.com/api/oauth2/api/campaigns/6713639/pledges?page%5Bcount%5D=20&sort=created"},"meta":{"count":6}},"rewards":{"data":[{"id":"-1","type":"reward"},{"id":"0","type":"reward"},{"id":"7126961","type":"reward"},{"id":"7126962","type":"reward"},{"id":"7126963","type":"reward"}]}},"type":"campaign"}],"included":[{"attributes":{"about":null,"age_verification_status":null,"apple_id":null,"can_see_nsfw":null,"created":"2021-04-29T13:26:02.000+00:00","default_country_code":null,"discord_id":null,"email":"jmarsh24@gmail.com","facebook":null,"facebook_id":null,"first_name":"Justin","full_name":"Justin
          Marsh","gender":0,"google_id":"102307137188921967156","has_password":true,"image_url":"https://c10.patreonusercontent.com/4/patreon-media/p/user/54750768/1b5bf4908c9543f8824cb6576c1d9f64/eyJ3IjoyMDB9/1.jpeg?token-time=2145916800&token-hash=TeegD8Ka8STmbZ4g-dnJGZu2u0n54qxmP3SB1pOtQD4%3D","is_deleted":false,"is_eligible_for_idv":false,"is_email_verified":true,"is_nuked":false,"is_suspended":false,"last_name":"Marsh","patron_currency":"USD","social_connections":{"deviantart":null,"discord":null,"facebook":null,"google":null,"instagram":null,"reddit":null,"spotify":null,"spotify_open_access":null,"twitch":null,"twitter":null,"vimeo":null,"youtube":null},"thumb_url":"https://c10.patreonusercontent.com/4/patreon-media/p/user/54750768/1b5bf4908c9543f8824cb6576c1d9f64/eyJ3IjoyMDB9/1.jpeg?token-time=2145916800&token-hash=TeegD8Ka8STmbZ4g-dnJGZu2u0n54qxmP3SB1pOtQD4%3D","twitch":null,"twitter":null,"url":"https://www.patreon.com/tangotube","vanity":"tangotube","youtube":null},"id":"54750768","relationships":{"campaign":{"data":{"id":"6713639","type":"campaign"},"links":{"related":"https://www.patreon.com/api/campaigns/6713639"}}},"type":"user"},{"attributes":{"amount":0,"amount_cents":0,"created_at":null,"description":"Everyone","patron_currency":"USD","remaining":0,"requires_shipping":false,"url":null,"user_limit":null},"id":"-1","type":"reward"},{"attributes":{"amount":1,"amount_cents":1,"created_at":null,"description":"Patrons
          Only","patron_currency":"USD","remaining":0,"requires_shipping":false,"url":null,"user_limit":null},"id":"0","type":"reward"},{"attributes":{"amount":200,"amount_cents":200,"created_at":"2021-04-29T13:57:41.265+00:00","currency":"EUR","declined_patron_count":0,"description":"","discord_role_ids":null,"edited_at":"2021-05-25T05:52:20.079+00:00","image_url":null,"is_free_tier":false,"patron_amount_cents":250,"patron_count":3,"patron_currency":"USD","post_count":0,"published":true,"published_at":"2021-05-25T05:52:20.067+00:00","remaining":null,"requires_shipping":false,"title":"You
          Are Amazing","unpublished_at":null,"url":"/join/tangotube/checkout?rid=7126961","user_limit":null,"welcome_message":null,"welcome_message_unsafe":null,"welcome_video_embed":null,"welcome_video_url":null},"id":"7126961","relationships":{"campaign":{"data":{"id":"6713639","type":"campaign"},"links":{"related":"https://www.patreon.com/api/campaigns/6713639"}}},"type":"reward"},{"attributes":{"amount":500,"amount_cents":500,"created_at":"2021-04-29T13:57:41.736+00:00","currency":"EUR","declined_patron_count":0,"description":"At
          this level you will get access to a fancy member icon to proudly display your
          support and have access to beta test new features.","discord_role_ids"[...]
