$show-video-width: 1300px;

.under-video-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 16px;
}

.video-responsive-container {
  width: 100%;
  max-width: $show-video-width;
  max-height: auto; //necessary to keep proportion
  margin: 0 auto; //centering
}

.video-responsive-background {
  background-color: $show-video-background;
}

.video-responsive {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-info-container {
  display: flex;
  max-width: $show-video-width;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--sl-color-neutral-50);
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.video-info-primary-container {
  max-width: $show-video-width;
  width: 100%;
  text-align: left;
}

.video-info-container-secondary {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: $show-video-width;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0.5em;
}

.video-info-details-main {
  flex: 1;
  flex-direction: column;
  min-width: 450px;
  a {
    color: $link-color;
    font-size: 0.8rem;
  }
  p {
    line-height: 1.2rem;
  }
}

.recommended-videos-section {
  flex: 1;
  margin: 0 0.5em;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 700px) {
  .grid-container-show {
    display: flex;
    flex-direction: column;
  }

  .video-responsive iframe {
    border-radius: 0;
  }

  .under-video-container {
    flex-wrap: wrap;
  }

  .video-info-details-main {
    min-width: 300px;
    margin: 0;
  }

  .recommended-videos-section {
    margin: 0;
    width: 100%;
    min-width: none;
  }
}
