// .ss-disabled {
//   display: none;
// }

.ss-open {
  // height: 245px !important;
  background-color: var(--sl-color-neutral-0) !important;
}

.ss-main {
  color: var(--sl-color-gray-800);

  .ss-single-selected {
    background-color: var(--sl-color-neutral-0);
    border: 1px solid var(--sl-color-gray-100);
  }
}

.ss-content .ss-search input {
  background-color: var(--sl-color-neutral-0);
  border: 1px solid var(--sl-color-gray-100);
}

.ss-content {
  background-color: var(--sl-color-neutral-0);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--sl-color-gray-100);
}
.ss-content .ss-list .ss-option.ss-disabled {
  background-color: var(--sl-color-neutral-0);
}
.ss-content {
  background-color: var(--sl-color-neutral-0);
}

// .ss-main.ss-select-filter {
//   display: none;
// }

// .ss-main .ss-single-selected {
//   background: none !important;
// }

// .ss-main .ss-single-selected .placeholder {
//   position: relative;
//   top: 2px;
// }

// .ss-deselect {
//   margin: 0 !important;
//   padding: 10px;
// }

// .ss-content.ss-open {
//   border-radius: 4px;
// }

.ss-search {
  input {
    -webkit-appearance: none !important;
    -webkit-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    // background: $ss-search-background !important;
  }
  // input:focus {
  // box-shadow: none !important;
  // border: 2px solid $ss-search-background-focus !important;
  //   }
}

// .ss-list.disabled {
//   display: none !important;
// }

.ss-content.ss-open.disabled {
  background-color: var(--sl-color-neutral-0) !important;
}

.ss-main .ss-single-selected.ss-open-below {
  background-color: none !important;
}

.ss-main .ss-single-selected.ss-open-below {
  // border: 0 !important;
  background-color: none !important;
}

// .ss-main .ss-single-selected {
//   padding-top: 0 !important;
// }

// .ss-main .ss-single-selected.ss-open-below {
//   height: 30px !important;
// }
// .ss-content .ss-search input {
//   padding: 6px 8px !important;
// }

// .ss-content .ss-list .ss-option {
//   padding-left: 13px !important;
//   padding-top: 7px !important;
//   padding-bottom: 7px !important;
// }
// .ss-main .ss-single-selected {
//   padding-left: 15px !important;
//   padding-bottom: 0px !important;
// }

// .ss-main .ss-single-selected .placeholder,
// .ss-main .ss-single-selected .placeholder * {
//   align-items: none !important;
//   padding-top: 0px !important;
// }

// .ss-arrow {
//   display: none !important;
// }

// @media (max-width: 475px) {
//   .select-filter {
//     font-size: 18px;
//   }
// }
