---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=invalid&key=<YOUTUBE_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "PqCO86vmlUDWFiOBSqOsOZRp5jE",
          "pageInfo": {
            "totalResults": 0,
            "resultsPerPage": 50
          }
        }
  recorded_at: Mon, 12 Jun 2023 23:15:41 GMT
recorded_with: VCR 6.1.0
