.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 48px;
  font-size: 14px;
  background-color: var(--sl-color-neutral-100);
  border-top: 1px solid $border-color;
  z-index: 2;

  a {
    color: var(--sl-color-gray-600);

    &:hover {
      color: var(--sl-color-gray-800);
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1660px;
    padding: 0 60px;
    margin: 0 auto;
  }

  &__section {
    display: flex;
    align-items: center;

    &--left {
      gap: 4px;
    }

    &--right {
      gap: 16px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
