input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-gray-800);
  border: none;
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
  padding: 0.5em 0.5em;
  font-size: 16px;
}
