select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  height: 36px;
  padding: 0 0.7rem;
  border-radius: 4px;
  background-color: var(--sl-color-neutral-0);
  border: none;
  color: var(--sl-color-gray-800);
}
