.white-menu-item[checked]::part(base) {
  background: var(--sl-color-gray-200);
}

#mobile-drawer-top::part(panel) {
  background: none;
}

#mobile-drawer-top::part(body) {
  padding: 0;
}

.white-button::part(base) {
  background: var(--sl-color-gray-100);
  border: solid 1px var(--sl-color-gray-300);
}

.white-button::part(base):hover {
  background: var(--sl-color-gray-400);
}

.white-button::part(base):active {
  background: var(--sl-color-gray-100);
}

.white-button[outline]::part(base) {
  background: var(--sl-color-gray-400);
}

.white-button::part(label) {
  color: var(--sl-color-neutral-1000);
}

.primary-button::part(base) {
  background: rgb(229, 45, 39);
  border: solid 1px rgb(229, 45, 39);
}

.primary-button::part(base):hover {
  background: rgb(250, 45, 39);
}

.primary-button::part(base):active {
  background: rgb(229, 45, 39);
}

.primary-button[outline]::part(base) {
  background: rgb(250, 45, 39);
}

.primary-button::part(label) {
  color: #fff;
}
