.white-menu-item[checked]::part(base) {
  background: var(--sl-color-gray-200);
}

#mobile-drawer-top::part(panel) {
  background: none;
}

#mobile-drawer-top::part(body) {
  padding: 0;
}

.white-button::part(base) {
  background: var(--sl-color-gray-100);
  border: solid 1px var(--sl-color-gray-300);
}

.white-button::part(base):hover {
  background: var(--sl-color-gray-400);
}

.white-button::part(base):active {
  background: var(--sl-color-gray-100);
}

.white-button[outline]::part(base) {
  background: var(--sl-color-gray-400);
}

.white-button::part(label) {
  color: var(--sl-color-neutral-1000);
}

.primary-button::part(base) {
  background: rgb(229, 45, 39);
  border: solid 1px rgb(229, 45, 39);
}

.primary-button::part(base):hover {
  background: rgb(250, 45, 39);
}

.primary-button::part(base):active {
  background: rgb(229, 45, 39);
}

.primary-button[outline]::part(base) {
  background: rgb(250, 45, 39);
}

.primary-button::part(label) {
  color: #fff;
}

:root {
  --sl-color-primary-50: rgb(254, 248, 248);
  --sl-color-primary-100: rgb(253, 231, 231);
  --sl-color-primary-200: rgb(252, 213, 213);
  --sl-color-primary-300: rgb(250, 192, 192);
  --sl-color-primary-400: rgb(248, 164, 164);
  --sl-color-primary-500: rgb(244, 123, 123);
  --sl-color-primary-600: rgb(240, 68, 68);
  --sl-color-primary-700: rgb(217, 7, 7);
  --sl-color-primary-800: rgb(181, 6, 6);
  --sl-color-primary-900: rgb(132, 4, 4);
  --sl-color-primary-950: rgb(85, 3, 3);
  --sl-input-focus-ring-color: var(--sl-color-gray-800);
  --sl-input-border-color-focus: var(--sl-color-gray-800);
  --sl-focus-ring-width: 0px;
}
