.cookies-modal {
  position: fixed;
  z-index: var(--cookies-modal);
  left: 0;
  right: 0;
  bottom: 48px;
  word-break: break-word;
  border-radius: 0.5rem;
  background: var(--color-neutral-50);

  &__copy {
    max-width: 960px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 32px;
  }

  &__buttons {
    display: flex;
  }
}

@media (max-width: 768px) {
  .cookies-modal {
    bottom: 0px;
    &__inner {
      max-width: none;
      padding: 24px 32px;
    }
  }
}
