<div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 228px;">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 81px;">
    <h3>Support the new way to watch tango...</h3>
    <h1>Select a membership level</h1>
  </div>
  <div style="display:flex; flex-flow: wrap; justify-content: center; align items: center; gap: 50px;">
    <div class="card" style="width: 300px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; border: 1px solid #c2c2c2; border-radius: 4px; padding: 24px;">
      <div style="margin: 16px 0; font-size: 16px; font-weight: bold;">You are awesome!</div>
      <div style="font-size: 26px; font-weight: bold;">€2.00</div>
      <div style="font-size: 14px;">PER MONTH</div>
      <%= render partial: "pay/stripe/checkout_button", locals: { session: @tier_1, title: "Join" } %>
      <ul>
        <li>You will have my undying gratitude!</li>
        <li>Thank you for considering supporting the project!</li>
      </ul>
    </div>
    <div class="card" style="width: 300px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; border: 1px solid #c2c2c2; border-radius: 4px; padding: 24px;">
      <div style="margin: 16px 0; font-size: 16px; font-weight: bold;">Back Tango Tube</div>
      <div style="font-size: 26px; font-weight: bold;">€5.00</div>
      <div style="font-size: 14px;">PER MONTH</div>
      <%= render partial: "pay/stripe/checkout_button", locals: { session: @tier_2, title: "Join" } %>
      <div>At this level you will get access to a fancy member icon to proudly display your support and have access to beta test new features.</div>
      <ul>
        <li>Early Access To New Features</li>
        <li>Basic Listing on Supporters Page</li>
      </ul>
    </div>
    <div class="card" style="width: 300px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; border: 1px solid #c2c2c2; border-radius: 4px; padding: 24px;">
      <div style="margin: 16px 0; font-size: 16px; font-weight: bold;">Sponsor</div>
      <div style="font-size: 26px; font-weight: bold;">€10.00</div>
      <div style="font-size: 14px;">PER MONTH</div>
      <%= render partial: "pay/stripe/checkout_button", locals: { session: @tier_3, title: "Join" } %>
      <div>At this level you are a true investor in the future of TangoTube, and because of that I want to invest back by giving you access to an extra fancy supporters icon. You will also have the ability to beta test new features before anybody else and you will be listed at the top of our supporters page.</div>
      <ul>
        <li>Early Access To New Features</li>
        <li>Extra Fancy Member Icon</li>
        <li>You will have my undying gratitude!</li>
        <li>Thank you for considering supporting the project!</li>
        <li>Founding Member Recognition on the supports page at tangotube.tv/support</li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <h1>Frequently asked questions</h1>
      <div>
        <h3>Can I cancel at any time?</h3>
        <p>
          Of course. GoRails subscriptions renew automatically, just like Netflix or Hulu but we'd never lock you in.
        </p>
      </div>
      <div>
        <h3>If I sign up, do I get access to everything?</h3>
        <p>
          Yep! As soon as you sign up, you'll have access to over 300 interesting lessons exploring many different aspects of building apps with Ruby on Rails.
        </p>
      </div>
      <div>
        <h3>Will you cover _____ topic?</h3>
        <p>Very likely! A lot of our episodes come from requests by community members. The forum is a great place to post episode ideas and example topics you would like to see covered.</p>
      </div>
      <div>
        <h3>Can I post on the forums without a subscription?</h3>
        <p>Yes, you can. Our community is downright incredible and they're happy to help you with any questions you have. We love seeing questions that don't fit the StackOverflow mold. Questions about how should you approach a problem, architect a feature, or what you should learn next are all welcome!</p>
      </div>
      <div>
        <h3>Anything else we can help with?</h3>
        <p>We'd be happy to help. Send an email to chris@gorails.com and we'll see what we can do for you!</p>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
