= form_with url: search_path, method: :get, data: { controller: "autosubmit", action: "input->autosubmit#submit" } do |f|
  = f.text_field :search, placeholder: "Search...", autocomplete: "off", class: "input input__input"
#search-results class="search-bar__results"
