.recommended-videos-container {
  display: flex;
  gap: 10px;
  min-width: 200px;
}

.thumbnail-image--recommended {
  width: 180px;
}

.recommended-videos__header {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.recommended-videos-card {
  margin-bottom: 10px;
  max-height: 400px;
  overflow-y: hidden;

  &--active {
    max-height: fit-content;
  }
}

.show-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
