.recommended-videos-section {
  flex: 1;
  margin: 0 0.5em;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  @media (max-width: 700px) {
    min-width: none;
  }
}

.recommended-videos-container {
  display: flex;
  gap: 10px;
  margin: 16px 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  @media (max-width: 800px) {
    flex-direction: column;
    min-width: none;
  }

  &.active {
    background-color: var(--sl-color-gray-200);
  }
}

.thumbnail--recommended {
  width: 160px;

  @media (max-width: 800px) {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.recommended-videos__header {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;
  color: var(--sl-color-gray-800);

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.recommended-videos-card {
  margin-bottom: 10px;
  max-height: 500px;
  overflow-y: hidden;

  @media (max-width: 800px) {
    max-height: 1500px;
  }

  &--active {
    max-height: fit-content;
  }
}

.show-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}
