.recommended-videos-container {
  display: flex;
  gap: 10px;
  min-width: 200px;
}

.thumbnail-image--recommended {
  width: 180px;
}

.recommended-videos__header {
  border-bottom: 1px solid #c2c2c2;
}
