.container
  .dancer-show
    = image_tag dancer_cover(@dancer), class: "dancer-show__cover-image"
    .dancer-show__body
      = image_tag dancer_avatar(@dancer), class: "dancer-show__avatar"
      .dancer-show__body__header
        h1
          = @dancer.name
        .dancer-show__admin
          = t(".videos_count", count: @dancer.videos_count)
          - if current_user&.admin?
            div
              = t(".dropdown")
              div
                = link_to t("edit"), edit_dancer_path(@dancer)
                = button_to t("destroy"), @dancer, method: :delete, form: { data: { turbo_confirm: t("are_you_sure") } }
      .index-container
        = turbo_frame_tag :videos, src: videos_path(dancer: @dancer.slug, orchestra: params[:orchestra])
