@import "@shoelace-style/shoelace/dist/themes/light.css";
@import "@shoelace-style/shoelace/dist/themes/dark.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.isHidden {
  display: none !important;
}

.hidden {
  display: none !important;
}

.isActive {
  font-weight: bold !important;
}

.row {
  display: flex;
}
