.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: var(--z-modal);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translate(0, 80px);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: hidden;
    background-color: var(--color-neutral-50);
    bottom: 0;
  }

  &__frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    max-height: calc(100vh - 80px);
  }

  &__close {
    @include maskedBackground;
    position: absolute;
    width: 36px;
    height: 36px;
    top: var(--spacing-md);
    right: var(--spacing-md);
    cursor: pointer;
    background-color: var(--color-neutral-200);
    border-radius: var(--border-radius-circle);
    z-index: var(--z-modal-close);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background-color: var(--color-gray-700);
      mask-image: url('@assets/images/icons/close.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      z-index: 1;
    }
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--spacing-xxl) var(--spacing-md) var(--spacing-md)
      var(--spacing-md);
  }

  &__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
    padding-bottom: 16px;
  }

  &__body {
    padding: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
    overflow-y: auto;
    scroll-behavior: smooth;
    white-space: normal;
    word-wrap: break-word;
    flex-grow: 1;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  // Open state
  &--open {
    pointer-events: all;

    .modal__content {
      opacity: 1;
      transform: none;
    }
  }

  &--lyrics {
    .modal__close {
      background-color: unset;
      &::before {
        background-color: var(--color-neutral-1000);
      }
    }
  }

  &--small {
    .modal__content {
      bottom: unset;
      border-radius: var(--border-radius-xl);
      max-width: 360px;
    }
  }

  // Responsive design: Full-screen for mobile, custom styling for larger screens
  @include breakpoint-tablet {
    &__content {
      max-width: 620px;
      border-radius: 16px;
      bottom: unset;
    }

    .modal__frame {
      max-width: 75vw;
      max-height: 80vh;
      border-radius: var(--border-radius-lg);
    }
  }
}

body.modal-open {
  overflow: hidden;
}
