---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC9lGGipk4wth0rDyy4419aw&key=<YOUTUBE_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "-IeW6km-zOA9B7kvp6KcGkDTvpo",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "IYY-Y0CSBjS3UaC-GelSs99-0wg",
              "id": "UC9lGGipk4wth0rDyy4419aw",
              "snippet": {
                "title": "Armin Mar",
                "description": "",
                "publishedAt": "2012-11-21T14:08:12Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AAUvwnjGYCOkZDPgEinTJCtfCH5iwBR4w3YPVYwNOg=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AAUvwnjGYCOkZDPgEinTJCtfCH5iwBR4w3YPVYwNOg=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AAUvwnjGYCOkZDPgEinTJCtfCH5iwBR4w3YPVYwNOg=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "Armin Mar",
                  "description": ""
                }
              }
            }
          ]
        }
  recorded_at: Tue, 11 May 2021 01:33:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC9lGGipk4wth0rDyy4419aw&key=<YOUTUBE_API_KEY>&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "LCYMwq64_GXkF0Fcab_w58Gxc8A",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "g9HUCF2HMy-Q7xY_VtEU96GozY0",
              "id": "UC9lGGipk4wth0rDyy4419aw",
              "statistics": {
                "viewCount": "664",
                "subscriberCount": "3",
                "hiddenSubscriberCount": false,
                "videoCount": "5"
              }
            }
          ]
        }
  recorded_at: Tue, 11 May 2021 01:33:09 GMT
recorded_with: VCR 6.0.0
