p = t(".greeting", email: @resource.email)

p = t(".somebody_requested_to_change_your_password")  Someone has requested a link to change your password. You can do this through the link below.

p = link_to t("change_my_password"), edit_password_url(@resource, reset_password_token: @token)

p = t(".if_didn't_request")
p = t(".your_password_wont_be_changed")
