<div class="filter" data-controller="filter" style="min-width: <%= width %>; width: <%= width %>;" id= <%= id %>>
  <%= select_tag title.to_s,
        options_for_select(options, params[title.to_s].presence), { prompt: "Choose #{title}s".titleize,
                                                                    multiple: false,
                                                                    data: { action: "filter#filter",
                                                                            "filter-target": "filter",
                                                                            controller: 'slimselect',
                                                                            "slimselect-placeholder-value": "Search #{title.to_s.titleize.pluralize}",
                                                                            },
                                                                    class: 'select-filter',
                                                                    id: id } %>
</div>
