<div	data-controller="filter"
		 	style="width: <%= width %>"
      class="filter"
  >
  <%= select_tag title.to_s,
		options_for_select(options, params[title].presence),
						{	include_blank: true,
							multiple: false,
							autocomplete: "off",
							placeholder: "Select a #{title.to_s}...",
              id: id,
							data: { controller: "tom-select",
											action: "filter#filter",
											"filter-target": "filter"
										}
						}
	%>
</div>
