h1.heading-1.heading-1--bold #{@playlist.title}
br
= t(".playlist_id") + @playlist.slug
br
= t(".playlist_channel_title") + @playlist.channel_title
br
= t(".playlist_channel_id") + @playlist.channel_id
br
= t(".playlist_video_count") + @playlist.video_count.to_s
br
= t(".playlist_imported") + @playlist.imported.to_s
br
