<div id="<%= dom_id performance %>" class="performance">
  <div>
    <strong>Date:</strong>
    <%= performance.date %>
  </div>
  <div>
    <strong>Videos count:</strong>
    <%= performance.videos_count %>
  </div>
  <div class="performance__videos">
    <% performance.videos.each do |video| %>
      <%= render partial: "videos/video", locals: { video: video } %>
    <% end %>
  </div>
</div>
