.dancer-show {
  width: 100%;

  &__cover-image {
    width: 100%;
    height: 475px;
    object-fit: cover;
  }

  &__body {
    position: relative;
    width: 100%;
    padding: 0 16px;

    &__header {
      width: 100%;
      height: 200px;
      padding-right: 16px;
      padding-left: 425px;

      h1 {
        font-size: 64px;
      }
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -75px;
    left: 125px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__facets {
    display: flex;
    gap: 16px;

    &__facet {
      padding: 32px 16px;
      width: 100%;
      &__menu {
        height: 250px;
        overflow-y: auto;
        &__item {
          display: flex;
          gap: 16px;
          align-items: center;
          padding: 8px 0px;

          &__avatar {
            border-radius: 50%;
            width: 32px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .dancer-show {
    &__body {
      &__header {
        padding-right: 16px;
        padding-left: 16px;
        margin: 0 auto;
        height: 100%;

        h1 {
          font-size: 64px;
        }
      }
    }

    &__avatar {
      left: unset;
      top: -125px;
      position: unset;
      margin: 0 auto;
      margin-top: 32px;
    }
  }
}
