* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
  font-weight: inherit;
  appearance: none;
  border-radius: none;
  border: none;
  background-color: transparent;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
