/**  Cereal */
@font-face {
  font-family: 'Cereal';
  font-weight: 400;
  src: url('@assets/fonts/Cereal-Book.otf');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 900;
  src: url('@assets/fonts/Cereal-Black.otf');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 700;
  src: url('@assets/fonts/Cereal-Bold.otf');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 500;
  src: url('@assets/fonts/Cereal-Medium.otf');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 300;
  src: url('@assets/fonts/Cereal-Light.otf');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 800;
  src: url('@assets/fonts/Cereal-ExtraBold.otf');
}

body {
  font-family: 'Cereal', sans-serif;
  color: var(--color-neutral-1000);
}
