$sizes: (
  'zero': 0px,
  'xxxs': 4px,
  'xxs': 8px,
  'xs': 12px,
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px,
  'xxl': 48px,
  'xxxl': 64px,
  'mega': 80px,
  'mega-2': 96px,
);

$icons: 'arrow-down', 'arrow-up',
        'bookmark-fill', 'bookmark', 'burger',
        'clock-fill', 'clock', 'close',
        'facebook', 'google', 'heart-fill',
        'heart', 'house-fill', 'magnifying-glass',
        'safari', 'safari-fill','scissors-circle-fill',
        'scissors-circle', 'scissors', 'star-filled',
        'star','sun-max-full', 'sun-max', 'square-and-arrow-up',
        'thumbs-down-fill', 'thumbs-down', 'thumbs-up-fill',
        'thumbs-up';

// Breakpoints
@mixin breakpoint-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin breakpoint-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@mixin maskedBackground {
  background-color: currentColor;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

:root {

  @each $size-name,
  $size-value in $sizes {
    --spacing-#{$size-name}: #{$size-value};
  }

  --background-primary-50: rgb(249, 51, 45);
  --background-primary-100: rgb(229, 45, 39);
  --background-primary-100-hover: rgb(249, 51, 45);
  --background-secondary-50: rgb(161, 161, 170);
  --background-secondary-100: rgb(244, 244, 245);
  --background-tertiary-100: #7bc1fd;
  --background-tertiary-150: #2d93e7;
  --background-neutral-100: #ffffff;
  --background-neutral-150: #fcfcfc;
  --background-neutral-200: #cfcfcf;
  --background-neutral-250: rgb(52, 53, 57);;
  --background-button-primary-base: var(--background-primary-100);
  --background-button-primary-inactive: #f4e1ed;
  --background-button-border-primary: var(--background-secondary-100);
  --background-card-tertiary: var(--background-tertiary-100);
  --background-card-tertiary-strong: var(--background-tertiary-150);
  --background-card-primary-base: var(--background-neutral-100);
  --background-card-action-base: #f2f6fc;
  --background-div-primary-base: var(--background-neutral-250);
  --background-icon-primary-base: var(--background-primary-100);
  --background-icon-social-primary: #43d954;
  --background-icon-social-secondary: #2d93e7;
  --background-icon-action-base: #a882fa;
  --background-input-border-primary-default: #979797;
  --container-gap: 16px;
  --text-input-primary-base: var(--background-neutral-250);
  --text-label-primary-base: #343539;
  --text-link-primary-base: var(--background-primary-100);
  --text-label-secondary-weak: var(--background-neutral-150);
  --text-label-tertiary-base: var(--background-neutral-250);
  --text-link-secondary-base: var(--background-secondary-100);
  --text-button-secondary-hover: var(--background-secondary-100);
  --background-icon-success-base: #18c371;

  --border-radius-input: .5rem;
  --border-radius-input-sm: .25rem;
  --border-radius-card: 20px;
  --border-radius-card-sm: 16px;
  --border-radius-card-xs: 4px;
  --border-radius-feedback-item: 10px;

  --logo-height-home: 100px;
  --logo-height-modal: 80px;

  --z-search: 800;
  --z-nav: 900;
  --z-modal: 1000;
  --z-modal-close: 1001;
  --z-menu: 50;
  --z-dropdown: 1000;
  --z-navbar: 1002;
  --z-navbar-1: 0;
  --z-navbar-1: 2;
  --z-navbar-2: 3;
  --z-navbar-3: 4;
  --z-drawer: 1001;
  --z-index-video-overlay: 1;
  --z-cookies-modal: 999;
  --z-menu: 99;
  --z-footer: 99;
  --z-performance_number: 99;

  --navbar-height: 80px;
  --video-aspect-ratio: 0.8;

  @include breakpoint-tablet() {
    --container-gap: 32px;
    --navbar-height: 88px;
  }

  @include breakpoint-desktop() {
    --container-gap: 64px;
    --navbar-height: 120px;
  }
}

$primary-color: #ffffff;
$secondary-color: #f9f9f9;

$primary-font-color: rgb(80, 80, 80);
$secondary-font-color: white;

$sortable-label-color: rgb(50, 50, 50);
$sortable-label-color-hover: rgb(3, 3, 3);
$sortable-border-bottom-color: rgba(0, 0, 0, 0.1);

$link-color: rgb(6, 95, 212);

$border-color: var(--sl-color-gray-200);
$border-color-secondary: #e2e2e2;
$button-color: #c2c2c2;

$button-primary-background-color: #ffffff;
$button-primary-background-color-hover: #c2c2c2;

$filter-border-color: #e8e8e8;
$logo-hover-color: #3d3d3d;

$search-bar-font-color: rgb(17, 17, 17);
$search-bar-button-color: rgb(248, 248, 248);
$search-bar-button-color-hover: rgb(240, 240, 240);
$search-bar-focus-color: #719ece;

$placeholder-font-color: rgb(17, 17, 17);

$nav-link-color-hover: #222222;

$primary-header-background: #e8e8e8;
$primary-header-link-color: #ffffff;

$secondary-header-background: #f2f2f2;
$secondary-header-link-color: rgb(97, 97, 97);
$secondary-header-link-color-hover: rgb(3, 3, 3);

$show-video-background: black;

$videos-primary-link: purple;
$videos-primary-link-hover: purple;

$videos-secondary-link: rgb(97, 97, 97);
$videos-secondary-link-hover: rgb(3, 3, 3);

$show-primary-title: var(--sl-color-gray-800);
$show-primary-song: var(--sl-color-gray-700);
$show-primary-song-hover: var(--sl-color-gray-900);
$show-primary-channel-title: var(--sl-color-gray-600);
$show-primary-channel-title-hover: var(--sl-color-gray-800);
$show-primary-video-event: var(--sl-color-gray-800);
$show-primary-video-event-hover: var(--sl-color-gray-900);

$video-info-details-heading: var(--sl-color-gray-800);
$video-info-details-value: var(--sl-color-gray-800);

$ss-search-background: #f9f9f9;
$ss-search-background-focus: #5897fb;

$color-border: #e9e9e9;
$color-background: #f9f9f9;
$color-text: #333333;
$color-background-menu: #f9f9f9;
$size-navbar: 56px;

// colors
$color-tint: #e73420;
