$sizes: (
  'zero': 0px,
  'xxxs': 4px,
  'xxs': 8px,
  'xs': 12px,
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px,
  'xxl': 48px,
  'xxxl': 64px,
  'mega': 80px,
  'mega-2': 96px,
);

$icons: 'arrow-down', 'arrow-up', 'bookmark-fill', 'bookmark', 'burger',
  'clock-fill', 'clock', 'close', 'facebook', 'google', 'heart-fill', 'heart',
  'house-fill', 'magnifying-glass', 'moon-fill', 'safari', 'safari-fill',
  'scissors-circle-fill', 'scissors-circle', 'scissors', 'star-filled', 'star',
  'sun-max-fill', 'sun-max', 'square-and-arrow-up', 'thumbs-down-fill',
  'thumbs-down', 'thumbs-up-fill', 'thumbs-up';

// Breakpoints

@mixin breakpoint-mobile {
  @media (min-width: 568px) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin breakpoint-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@mixin maskedBackground {
  background-color: currentColor;
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

:root {
  color-scheme: light dark;

  @each $size-name, $size-value in $sizes {
    --spacing-#{$size-name}: #{$size-value};

    --border-radius-input: 0.5rem;
    --border-radius-input-sm: 0.25rem;
    --border-radius-card: 20px;
    --border-radius-card-sm: 16px;
    --border-radius-card-xs: 4px;
    --border-radius-feedback-item: 10px;

    --border-radius-sm: 0.1875rem; /* 3px */
    --border-radius-md: 0.25rem; /* 4px */
    --border-radius-lg: 0.5rem; /* 8px */
    --border-radius-xl: 1rem; /* 16px */

    --border-radius-circle: 50%;
    --border-radius-pill: 9999px;

    --logo-height-home: 100px;
    --logo-height-modal: 80px;

    --z-search: 800;
    --z-nav: 900;
    --z-modal: 1000;
    --z-modal-close: 1001;
    --z-menu: 50;
    --z-dropdown: 1000;
    --z-navbar: 1002;
    --z-navbar-1: 0;
    --z-navbar-1: 2;
    --z-navbar-2: 3;
    --z-navbar-3: 4;
    --z-drawer: 1001;
    --z-index-video-overlay: 1;
    --z-cookies-modal: 999;
    --z-menu: 99;
    --z-footer: 99;
    --z-performance_number: 99;

    --navbar-height: 56px;
    --video-aspect-ratio: 0.8;

    --transition-xs: 1000ms;
    --transition-s: 500ms;
    --transition-md: 250ms;
    --transition-f: 150ms;
    --transition-xf: 50ms;

    --letter-spacing-denser: -0.03em;
    --letter-spacing-dense: -0.015em;
    --letter-spacing-normal: normal;
    --letter-spacing-loose: 0.075em;
    --letter-spacing-looser: 0.15em;

    --line-height-denser: 1;
    --line-height-dense: 1.4;
    --line-height-normal: 1.8;
    --line-height-loose: 2.2;
    --line-height-looser: 2.6;

    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2.25rem;
    --font-size-xxxl: 3rem;
    --font-size-xxxxl: 4.5rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;

    --z-index-drawer: 700;
    --z-index-dialog: 800;
    --z-index-dropdown: 900;
    --z-index-toast: 950;
    --z-index-tooltip: 1000;
    --z-index-cookies: 1000;

    --container-gap: 16px;
    --grid-width: 1660px;
    --app-drawer-width: 200px;
    --header-height: calc(56px + var(--spacing-md));
  }

  @include breakpoint-tablet() {
    --container-gap: 32px;
  }

  @include breakpoint-desktop() {
    --container-gap: 64px;
  }
}
