$primary-color: #ffffff;
$secondary-color: #f9f9f9;

$primary-font-color: rgb(80, 80, 80);
$secondary-font-color: white;

$sortable-label-color: rgb(50, 50, 50);
$sortable-label-color-hover: rgb(3, 3, 3);
$sortable-border-bottom-color: rgba(0, 0, 0, 0.1);

$link-color: rgb(6, 95, 212);

$border-color: var(--sl-color-gray-200);
$border-color-secondary: #e2e2e2;
$button-color: #c2c2c2;

$button-primary-background-color: #ffffff;
$button-primary-background-color-hover: #c2c2c2;

$filter-border-color: #e8e8e8;
$logo-hover-color: #3d3d3d;

$search-bar-font-color: rgb(17, 17, 17);
$search-bar-button-color: rgb(248, 248, 248);
$search-bar-button-color-hover: rgb(240, 240, 240);
$search-bar-focus-color: #719ece;

$placeholder-font-color: rgb(17, 17, 17);

$nav-link-color-hover: #222222;

$primary-header-background: #e8e8e8;
$primary-header-link-color: #ffffff;

$secondary-header-background: #f2f2f2;
$secondary-header-link-color: rgb(97, 97, 97);
$secondary-header-link-color-hover: rgb(3, 3, 3);

$show-video-background: black;

$videos-primary-link: purple;
$videos-primary-link-hover: purple;

$videos-secondary-link: rgb(97, 97, 97);
$videos-secondary-link-hover: rgb(3, 3, 3);

$show-primary-title: var(--sl-color-gray-800);
$show-primary-song: var(--sl-color-gray-700);
$show-primary-song-hover: var(--sl-color-gray-900);
$show-primary-channel-title: var(--sl-color-gray-600);
$show-primary-channel-title-hover: var(--sl-color-gray-800);
$show-primary-video-event: var(--sl-color-gray-800);
$show-primary-video-event-hover: var(--sl-color-gray-900);

$video-info-details-heading: var(--sl-color-gray-800);
$video-info-details-value: var(--sl-color-gray-800);

$ss-search-background: #f9f9f9;
$ss-search-background-focus: #5897fb;

$color-border: #e9e9e9;

$z-menu: 99;
$z-footer: 99;
$z-performance_number: 99;
$size-navbar: 56px;

// colors
$color-tint: #e73420;

$color-text: #232323;
$color-text-muted: #c5c5c5;
$color-text-label: #9d9d9d;

$color-background: white;
$color-background-context: #232323;
$color-background-menu: #f2f2f2;
$color-background-tabs: #f9f9f9;
$color-bar: #7f8c8d;
$color-border: #e9e9e9;
$color-error: #e74c3c;

$tag-color: white;
$tag-bg: #454e56;

// sizes
$size-text: 16px;
$size-navbar: 60px;
$size-text-label: 0.75em;

// breakpoints
$tablet: 740px;
$desktop: 1000px;
$widescreen: 1180px;

