.login-page {
  position: relative;
  height: calc(100vh - 96px);
  background-size: cover;
  padding: 46px var(--padding-x);
  margin: 0 auto;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    width: 100%;
    position: relative;
  }

  .logo {
    margin-bottom: 120px;
  }

}
