doctype html
html lang=I18n.locale class="sl-theme-dark"
  = render "components/head"
  body data-controller="toggle drawer"
    = render "shared/header"
    = render "shared/sidebar"
    .content
      #flash.flash
        = render "layouts/flash"
      = yield
    = turbo_frame_tag :cookies_modal, src: cookies_path if session[:cookies_accepted].nil?
    = render "shared/footer"
